<div>
    <div class="headings">
      <app-title
        title="Work Experience"
      subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, eum exercitationem? Alias consequuntur labore ab corrupti delectus ea omnis in!"
        
      ></app-title>
      <span class="spacer"></span>
      <button class="action-button" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        <span class="button-text">Add New Work Experience</span>
      </button>
    </div>
    <div class="setting-hold">
      
     <div  class="contents" style="overflow: hidden;flex-direction: column;">
       <app-employee-add-work-experience></app-employee-add-work-experience>
        <div class="content-hold" style="width: 100%;margin-bottom: 20px;">
          <tool-bar
            [title]="'Pan-ALPNK 0298 K'"
            class="content-title-hold"
            [hasEdit]="true"
            [hasDelete]="false"
           
          ></tool-bar> 
          <div
              class="content-schema-view ">  
              <div  class="office-contents content-schema-view">
                <div class="view-entry-hold">
                    <span class="entry-text entry-datas">Win-IT Software Solutions</span>
                  </div>
                  <div class="view-entry-hold">
                                        <span class="entry-text">Hyderabad</span>
                  </div>
                  <div class="view-entry-hold">
                    <span class="entry-text entry-datas">01 Apr 2015 - 10 Dec 2021</span>
                  </div>
                  <div class="view-entry-hold">
                    <span class="entry-text">Designed end to end mobile applications for </span>
                  </div>

              </div>
            </div>
        </div>
      
      
     
<!-- <app-employee-addemployee></app-employee-addemployee> -->


      </div>
       

    </div>
  </div>