@import "../../styles.scss";
.multiple-content-hold {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0;
    width: calc(100% - 265px);

    .add-item-hold {
      display: flex;
      flex-direction: column;
      border: 1px solid $primary-color;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 20px 0;
      min-height: 258px;
      width: calc(100% - 2px);

      .add-item-icon {
        font-size: 72px;
        width: 72px;
        height: 72px;
      }

      .add-item-text {
        margin: 0;
      }

      .add-item-title {
        color: $primary-color;
      }

      &:hover {
        @include mat-elevation(6);
        color: $primary-color;
        border-color: #666;

        .add-item-title {
          color: #000;
        }
      }
    }
  }