@import "../../styles.scss";
@import '../../styles/syncimport.scss';

.tool-bar {
  width: calc(100% - 32px);
  border-bottom: 1px solid #ddd;

  .tool-bar-title {
    font-weight: bold;
    text-transform: uppercase;

    &.no-transform {
      text-transform: none;
    }
  }

  
}


.multiple-content-hold {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0;
    width: calc(100% - 265px);

    .add-item-hold {
      display: flex;
      flex-direction: column;
      border: 1px solid $primary-color;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 20px 0;
      min-height: 258px;
      width: calc(100% - 2px);

      .add-item-icon {
        font-size: 72px;
        width: 72px;
        height: 72px;
      }

      .add-item-text {
        margin: 0;
      }

      .add-item-title {
        color: $primary-color;
      }

      &:hover {
        @include mat-elevation(6);
        color: $primary-color;
        border-color: #666;

        .add-item-title {
          color: #000;
        }
      }
    }
  }

  .identifications-item-hold {

    .hr-inline-text-hold {
      margin-left: 15px;
    }
  
    .attachments-hold {
      display: flex;
      padding-left: 25px;
    }
  
    .identification-contents {
      display: flex;
      flex-direction: column;
      min-height: 195px;
  
      .identification-number-hold {
        background-color: #f9f9f9;
        margin-bottom: 0 !important;
        width: calc(100% - 50px) !important;
        padding: 0 25px;
        padding-bottom: 15px;
        margin-top: 8px;
      }
  
      .identification-name-hold {
        background-color: #f9f9f9;
        padding: 0 25px;
        width: calc(100% - 50px) !important;
      }
    }
  
    .identification-edit-contents {
      flex-wrap: wrap;
    }
  
    .content-loading-hold {
      margin: 110px 0;
  
      .content-loading-text {
        max-width: 350px;
      }
    }
  }
  