

.two-column-field {
  flex-grow: 1;
  width: calc(50% - 40px) !important;
}



.sp-table {
    width: 100%;
    
    position: relative;
    border-collapse: collapse;
    flex-grow : 1;
  
    td,
    th {
      border: 1px solid #ddd;
      padding: 6px;

      
    }
    td {
  text-align: center;
      
    }
  }


.addMenu{
  display: flex;
  flex-direction: row;
  position: relative;
 
  padding: 0 22px 10px 0;
}
.addlabel{
  position: absolute;
  top: 0;
  left: 10px;
  color: #666;
}

.web-menu-hold{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  
  padding: 0 22px 10px 0;
}

.menu-label{
  position: absolute;
  top: 0;
  left: 10px;
  color: #666;
}

.menu-input{
  ::ng-deep {
    .mat-form-field-flex {
      background-color: transparent;
    }

    .mat-form-field-infix {
      font-weight: bold;
      font-size: 120%;
      padding: 0 0 5px 0;
    }

    .mat-form-field-underline {
      width: calc(100%);
    }
  }
}

.view-attri-hold {
  display: flex;
  flex-direction: row;
  position: relative;
  width: calc(100% - 22px);
  padding-right: 22px;

  .attri-label {
    color: #666;
    padding-left: 10px;
    margin-top: 0;
  }

  .attri-data {
    font-weight: bold;
    font-size: 120%;
    padding: 4px 10px 25px;
    
  }
}
.attri-input{
  // font-weight: bold;
      font-size: 120%;
      padding: 0 0 5px 0;
      border: none;
      outline: none;
      border-bottom: 2px solid grey;
      text-align: center;
      // background-color: #ede7e7;
}