<div>
    <div class="headings">
      <app-title
        title="Education"
      subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, eum exercitationem? Alias consequuntur labore ab corrupti delectus ea omnis in!"
        
      ></app-title>
      <span class="spacer"></span>
      <button class="action-button" mat-raised-button color="primary" (click)="doAction('new')" *ngIf="_currentAction == 'view'">
        <mat-icon>add</mat-icon>
        <span class="button-text">Add New Education</span>
      </button>
    </div>
    <div class="setting-hold">
      
     <div  class="contents" style="overflow: hidden;flex-direction: column;">
      <app-employee-add-education  *ngIf="_currentAction=='new'" [_currentAction]="_currentAction"  (onAction)="doAction($event)"></app-employee-add-education>
        <div class="content-hold" style="width: 100%;margin-bottom: 20px;" *ngFor="let education of educationArray; let i = index">
          <mat-toolbar class="tool-bar">
            <span class="tool-bar-title"  [innerHtml]="'Education'"></span>
            <span class="sub-title mat-small"></span>
            <span class="spacer"></span>
            <!-- View Mode -->
            <ng-container *ngIf="i !== _editIndex; else editMode">  
              <button
                mat-button
                class="tool-bar-button bt-color"
                matTooltip="Edit"
                (click)="doAction('edit');startEdit(i)"
              >
                <mat-icon>edit</mat-icon>
                <span class="button-label">Edit</span>
              </button>
              <button
                mat-flat-button
                color="primary"
                class="tool-bar-button"
                matTooltip="Delete"
                (click)="doAction('delete');doDelete(education.id)"
              >
                <mat-icon>delete</mat-icon>
                <span class="button-label">Delete</span>
              </button>
            </ng-container>
            <!-- Edit Mode -->
            <ng-template #editMode>
              <button
                mat-button
                class="tool-bar-button"
                matTooltip="Cancel"
                (click)="doAction('cancel')"
              >
                <mat-icon>cancel</mat-icon>
                <span class="button-label">Cancel</span>
              </button>
              <button
                mat-raised-button
                color="primary"
                class="tool-bar-button"
                matTooltip="Save Changes"
                (click)="doAction('save')"
                (click)="updateEducation(education)"
              
              >
                <mat-icon>save</mat-icon>
                <span class="button-label">Save</span>
              </button>
            </ng-template>
          </mat-toolbar>
          <div
              class="content-schema-view " *ngIf="_currentAction == 'view' || i !== _editIndex">  
              <div  class="office-contents content-schema-view">
                <div class="view-entry-hold">
                    <span class="entry-text entry-datas">{{education.institute}}</span>
                  </div>
                  <div class="view-entry-hold">
                                        <span class="entry-text">{{education.course}}</span>
                  </div>
                  <div class="view-entry-hold">
                    <span class="entry-text entry-datas">{{education?.fromdate? (education.fromdate | stringToDate) : ''}} - {{education?.todate? (education.todate | stringToDate):''}}</span>
                  </div>
                  <div class="view-entry-hold">
                    <span class="entry-text">{{education.score}} out of {{education.scoremax}}</span>
                  </div>
                  <div class="view-entry-hold">
                    <span class="entry-text">{{education.remarks}}</span>
                  </div>

              </div>
            </div>


            <div
            class="content-schema-view" style="padding-left: 20px;" *ngIf="_currentAction == 'edit' && i == _editIndex"
          >
          <!-- <div
          class="form-field-hold two-column-field">
      
          <mat-label class="form-field-label">Education Type</mat-label>
          <mat-form-field
          class="form-field-input"
          floatPlaceholder="never"
          appearance="fill"
      
        >
          <mat-select
          
            placeholder="Click to Select"
           
          >
            <mat-option></mat-option
            >
          </mat-select>
        </mat-form-field>
      
        </div>  -->
        <div  class="form-field-hold two-column-field">
          <mat-label class="form-field-label">College/Institute Name</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              [placeholder]=""
              #inputValue
             [(ngModel)]="education.institute"
            />
          </mat-form-field>
         
        </div> 
        <div  class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Course</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              [placeholder]=""
              #inputValue
             [(ngModel)]="education.course"
            />
          </mat-form-field>
         
        </div> 
        <div  class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Specification</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              [placeholder]=""
              #inputValue
             [(ngModel)]="education.education"
            />
          </mat-form-field>
         
        </div> 
      
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">From Date</mat-label>
          <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
            <input matInput placeholder="Ex: 11 Mar 2021" [matDatepicker]="fromdate" 
               [disabled]="false"  [(ngModel)]="education.fromDate">
            <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
            <mat-datepicker #fromdate disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">To Date</mat-label>
          <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
            <input matInput placeholder="Ex: 11 Mar 2021" [matDatepicker]="todate" 
               [disabled]="false"  [(ngModel)]="education.toDate">
            <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
            <mat-datepicker #todate disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
           
        
      
              
              <div  class="form-field-hold two-column-field">
                  <mat-label class="form-field-label">Score</mat-label>
                  <mat-form-field
                    class="form-field-input"
                    floatPlaceholder="never"
                    appearance="fill"
                  >
                    <input
                      matInput
                      [placeholder]=""
                      #inputValue
                     [(ngModel)]="education.score"
                    />
                  </mat-form-field>
                 
                </div> 
              <div  class="form-field-hold two-column-field">
                  <mat-label class="form-field-label">ScoreMax</mat-label>
                  <mat-form-field
                    class="form-field-input"
                    floatPlaceholder="never"
                    appearance="fill"
                  >
                    <input
                      matInput
                      [placeholder]=""
                      #inputValue
                     [(ngModel)]="education.scoremax"
                    />
                  </mat-form-field>
                 
                </div> 
              <div  class="form-field-hold two-column-field">
                  <mat-label class="form-field-label">ScoreMetric</mat-label>
                  <mat-form-field
                    class="form-field-input"
                    floatPlaceholder="never"
                    appearance="fill"
                  >
                    <input
                      matInput
                      [placeholder]=""
                      #inputValue
                     [(ngModel)]="education.scoremetric"
                    />
                  </mat-form-field>
                 
                </div> 
            
               
                
           
                <div  class="form-field-hold two-column-field">
                  <mat-label class="form-field-label">Type</mat-label>
                  <mat-form-field
                    class="form-field-input"
                    floatPlaceholder="never"
                    appearance="fill"
                  >
                    <input
                      matInput
                      [placeholder]=""
                      #inputValue
                     [(ngModel)]="education.type"
                    />
                  </mat-form-field>
                 
                </div> 
                <div class="form-field-hold" >
                  <mat-label class="form-field-label">Remarks</mat-label>
                  <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
                    <textarea matInput placeholder="Ex: Notes" [(ngModel)]="education.remarks" ></textarea>
                  </mat-form-field>
                </div>
          </div>
         






        </div>
      
      
     
<!-- <app-employee-addemployee></app-employee-addemployee> -->


      </div>
       

    </div>
  </div>