<div>
  <div class="headings">
    <app-title title="Designations" subTitle="Different designations for an employee"></app-title>
    <span class="spacer"></span>
    <button class="action-button" mat-raised-button color="primary" (click)="doAction('new')"
      *ngIf="_currentAction != 'add'">
      <mat-icon>add</mat-icon>
      <span class="button-text">New Designation</span>
    </button>
    <div class="action-padding"></div>
  </div>
  <div class="contents" *ngIf="_currentAction == 'add'">
    <div class="content-hold mat-elevation-z6 new-designation-entry-hold"  *ngIf="_currentAction == 'add'">
      <span class="mat-title">Adding New Designation</span>
      <div class="new-designation-inputs content-data-hold" >
        <div class="form-field-hold two-column-field">
          <!-- <mat-label class="form-field-label">Code</mat-label>
          <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
            <input matInput placeholder="Ex: MD" [(ngModel)]="code">
          </mat-form-field> -->
          <app-kit-text-component [label]="'Code'"  [placeholder]="'Code'"
          (sendData)="handleInput('code',$event)"
          ></app-kit-text-component>
        </div>
        <div class="form-field-hold two-column-field">
          <!-- <mat-label class="form-field-label">Name</mat-label>
          <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
            <input matInput placeholder="Ex: Managing Director" [(ngModel)]="name">
          </mat-form-field> -->

          <app-kit-text-component [label]="'Name'"  [placeholder]="'Name'"
          (sendData)="handleInput('name',$event)"
          ></app-kit-text-component>

        </div>
      </div>
      <div class="new-designation-controls">
        <div class="errors-hold" *ngIf="errorMsg">
          <mat-icon>error_outline</mat-icon>
          <span class="error-text" [innerHtml]="errorMsg"></span>
        </div>
        <span class="spacer"></span>
        <button mat-stroked-button class="new-designation-control" (click)="doAction('view')" >
          <span class="button-label">Cancel</span>
        </button>
        <button mat-raised-button color="primary" class="new-designation-control"  (click)="addDesignationType();doAction('view')">
          <mat-icon>save</mat-icon>
          <span class="button-label">Save</span>
        </button>
      </div>
    </div>
    <div class="controls-view">
      <div class="help-info-hold" *ngIf="errorMsg">
        <mat-icon>info</mat-icon>
        <span class="help-text">Please correct the errors to proceed.</span>
      </div>
      <div class="help-info-hold">
        <mat-icon>info</mat-icon>
        <span class="help-text">Once you finish editing, Click on '<b>Save</b>' button, to save the changes.<br />To
          cancel the edit, click on '<b>Cancel</b>' button.</span>
      </div>
    </div>
  </div>
  <div class="contents" *ngIf="_currentAction == 'view' || 'add'">
    <div class="content-hold">
      <tool-bar title="Designations" class="content-title-hold" 
       [hasEdit]="false" [hasNew]="false" [hasDelete]="false"></tool-bar>
      <div class="designations-hold  no-padding-h">
        <div  class="new-content-hold">
          <app-designation-attribute [formData]="designations"></app-designation-attribute>
          </div>
        
      </div>
    </div>
    <div class="controls-view">
      <div class="help-info-hold" *ngIf="_currentAction == 'view'">
        <mat-icon>info</mat-icon>
        <span class="help-text">Click on '<b>New Designation</b>' button, to add new 'Designation'</span>
      </div>
      <div class="help-info-hold" >
        <mat-icon>info</mat-icon>
        <div class="help-info">
          <span class="help-title">Search</span>
          <span class="help-text">
            Click on '<mat-icon class="help-text-icon">search</mat-icon>' button in the table header, to enter the
            search text to filter the table entries.</span>
        </div>
      </div>
      <div class="help-info-hold" >
        <mat-icon>info</mat-icon>
        <div class="help-info">
          <span class="help-title">Change in Order</span>
          <span class="help-text">
            Click on '<mat-icon class="help-text-icon">arrow_upward</mat-icon>' or '<mat-icon class="help-text-icon">
              arrow_downward</mat-icon>' button in the table row, to change
            the order of an entry.</span>
        </div>
      </div>
    </div>
  </div>
</div>
