@import '../company-overview/company-overview.component.scss';
@import "~@angular/material/theming";
// @import '../styles.scss';
.offices-item-hold {

  .office-contents {
    display: flex;
    flex-direction: column;
    min-height: 195px;
    padding: 25px !important;
  }
  .tool-bar {
    width: calc(100% - 32px);
    border-bottom: 1px solid #ddd;
  
    .tool-bar-title {
      font-weight: bold;
      text-transform: uppercase;
  
      &.no-transform {
        text-transform: none;
      }
    }
  
    
  }
  .office-edit-contents {
    flex-wrap: wrap;
  }

  .content-loading-hold {
    margin: 110px 0;

    .content-loading-text {
      max-width: 350px;
    }
  }
}
.action-padding {
    padding-right: 270px;
  }

  .contents {
    display: flex;
    padding: 8px 0 15px 5px;
  
    .content-loading-hold {
      display: flex;
      padding: 20px 60px;
      align-items: center;
  
      .content-loading-text {
        margin-left: 36px;
        max-width: 500px;
        margin-bottom: 0;
      }
    }
  
  
    .item-hold {
      margin: 0 15px 15px 0;
    }
  
    .content-hold {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      background-color: $full-white;
      @include mat-elevation(4);
      width: calc(100% - 265px);
  
      .content-data-hold {
        display: flex;
        padding: 20px 16px;
        overflow: auto;
  
        &.no-padding-h {
          padding-left: 0;
          padding-right: 0;
        }
  
        .error-text-hold {
          display: flex;
          width: 100%;
          padding: 15px;
          margin: 9px 9px 30px;
          border-radius: 5px;
          background-color: red;
          align-items: flex-start;
          color: #fff;
  
          .error-text {
            margin-left: 8px;
          }
        }
  
        .hr-inline-text-hold {
          flex-grow: 1;
          position: relative;
          display: flex;
          margin-bottom: 10px;
  
          .hr-inline-text {
            z-index: 1;
            background-color: #fff;
            padding: 0 10px;
            margin: 0 20px;
          }
  
          &::before {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            z-index: 0;
            border-top: 1px solid #ddd;
            position: absolute;
            top: 50%;
          }
        }
  
        .view-entry-hold {
          display: flex;
          flex-direction: column;
          position: relative;
          width: calc(100% - 22px);
          padding-right: 22px;
          margin-bottom: 8px;
  
          .entry-label {
            color: #666;
            padding: 0 10px;
            margin-top: 0;
          }
  
          .entry-data {
            font-weight: bold;
            font-size: 120%;
            padding: 4px 10px 25px;
          }
  
          .entry-text {
            font-size: 1.5em;
          }
  
          .highlight-title {
            font-weight: bold;
          }
        }
      }
    }
  
    .two-column-field {
      flex-grow: 1;
      width: calc(50% - 40px) !important;
    }
  
    .two-three-column-field {
      flex-grow: 1;
      width: calc(65% - 40px) !important;
    }
  
    .three-column-field {
      flex-grow: 1;
      width: calc(30% - 40px) !important;
    }
  
    .controls-view {
      display: flex;
      flex-direction: column;
      padding: 0 8px 0 15px;
      min-width: 240px;
      max-width: 256px;
      width: 256px;
  
      .controls-hold {
        background-color: $full-white;
        display: flex;
        flex-direction: column;
        @include mat-elevation(4);
  
        .control-item {
          display: flex;
          color: $primary-color;
          padding: 5px 16px;
          align-items: center;
  
          &:last-of-type {
            border-bottom: 0;
          }
  
          .control-item-label {
            margin: 0 40px 0 10px;
          }
        }
      }
  
      .help-info-hold {
        display: flex;
        color: #666;
        border: 1px dashed #888;
        border-radius: 8px;
        padding: 8px;
        margin: 15px 0;
  
        .help-text,
        .help-title {
          margin-left: 6px;
          line-height: 1.3;
  
          .help-text-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
            line-height: 16px;
            color: $primary-color;
          }
        }
  
        .help-info {
          display: flex;
          flex-direction: column;
  
          .help-title {
            font-weight: bold;
            margin-bottom: 4px;
          }
        }
      }
    }
  }

  .multiple-content-hold {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0;
    width: calc(100% - 265px);

    .add-item-hold {
      display: flex;
      flex-direction: column;
      border: 1px solid $primary-color;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 20px 0;
      min-height: 258px;
      width: calc(100% - 2px);

      .add-item-icon {
        font-size: 72px;
        width: 72px;
        height: 72px;
      }

      .add-item-text {
        margin: 0;
      }

      .add-item-title {
        color: $primary-color;
      }

      &:hover {
        @include mat-elevation(6);
        color: $primary-color;
        border-color: #666;

        .add-item-title {
          color: #000;
        }
      }
    }
  }

  
  .content-hold {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: $full-white;
    @include mat-elevation(4);
    width: calc(100% - 265px);

    .content-data-hold {
      display: flex;
      padding: 20px 16px;
      overflow: auto;

      &.no-padding-h {
        padding-left: 0;
        padding-right: 0;
      }

      .error-text-hold {
        display: flex;
        width: 100%;
        padding: 15px;
        margin: 9px 9px 30px;
        border-radius: 5px;
        background-color: red;
        align-items: flex-start;
        color: #fff;

        .error-text {
          margin-left: 8px;
        }
      }

      .hr-inline-text-hold {
        flex-grow: 1;
        position: relative;
        display: flex;
        margin-bottom: 10px;

        .hr-inline-text {
          z-index: 1;
          background-color: #fff;
          padding: 0 10px;
          margin: 0 20px;
        }

        &::before {
          content: '';
          display: block;
          height: 1px;
          width: 100%;
          z-index: 0;
          border-top: 1px solid #ddd;
          position: absolute;
          top: 50%;
        }
      }

      .view-entry-hold {
        display: flex;
        flex-direction: column;
        position: relative;
        width: calc(100% - 22px);
        padding-right: 22px;
        margin-bottom: 8px;

        .entry-label {
          color: #666;
          padding: 0 10px;
          margin-top: 0;
        }

        .entry-data {
          font-weight: bold;
          font-size: 120%;
          padding: 4px 10px 25px;
        }

        .entry-text {
          font-size: 1.5em;
        }

        .highlight-title {
          font-weight: bold;
        }
      }
    }
  }
  