<div class="settings-view multi-options-view has-overall-heading">
  <div class="overall-heading" style="padding-left: 300px">
    <app-title title="Applyresign/Force Exit"></app-title>
    <span class="spacer"></span>
    <div class="action-padding"></div>
  </div>
  <div class="overall-view">
    <div class="info-and-options-view">
      <div class="settings-nav-hold">
        <div class="search-and-new-hold">
          <div class="new-reason-hold mat-elevation-z4"></div>
          <div class="form-field-hold search-input-hold"></div>
        </div>
        <div class="reasons-hold info-options-hold mat-elevation-z4">
          <!-- style="max-height: calc(100vh - 310px); overflow-y: auto;" -->
        </div>
      </div>
    </div>
    <div class="contents-view">
      
        
          <div class="contents">
            <div class="content-data-hold">
              <tool-bar
                [title]="'Applyresign/Force Exit'"
                class="content-title-hold"
                [currentAction]="_currentAction"
                [hasEdit]="false"
                [hasDelete]="false"
                (onAction)="doAction($event)"
              ></tool-bar>
              <div class="content-schema-view" style="padding: 20px">
                <div class="view-entry-schema two-column-field">
                  <app-kit-dropdown
                    [label]="'Resignation Request For'"
                    [placeholder]="'Resignation Request For'"
                  ></app-kit-dropdown>
                </div>
                <div class="view-entry-schema two-column-field">
                  <app-kit-dropdown
                    [label]="'Resignation Request For'"
                    [placeholder]="'Resignation Request For'"
                  ></app-kit-dropdown>
                </div>
                <div class="view-entry-schema two-column-field">
                  <app-kit-datepicker
                    [label]="'Last Working Date'"
                    [placeholder]="'Last Working Date'"
                  ></app-kit-datepicker>
                </div>
                <div class="view-entry-schema two-column-field"></div>
                <div class="view-entry-schema">
                  <app-kit-text-component
                    [label]="'Reason For resignation'"
                    [placeholder]="'Reason For resignation'"
                  ></app-kit-text-component>
                </div>
              </div>
            </div>
            
          </div>
          <!-- <app-schema-attribute  [currentSelectedReason]="currentSelectedReason"></app-schema-attribute> -->
        
    
    </div>
    <div style="padding-right: 200px">
        <div class="info-and-options-view">
          <div class="reasons-hold info-options-hold mat-elevation-z4 ">
            <ng-container >
              <div class="view-entry-hold">
                <mat-label class="entry-label">Applied By</mat-label>
                <span class="entry-data">kamal</span>
              </div>
              <div class="view-entry-hold">
                <mat-label class="entry-label"
                  >Resignation Status</mat-label
                >
                <span class="entry-data" style="color: green"
                  >Approved</span
                >
              </div>
              <div class="view-entry-hold">
                  <mat-label class="entry-label">Applied Date</mat-label>
                  <span class="entry-data">17 May 2023</span>
                </div>
              <div class="view-entry-hold">
                  <mat-label class="entry-label">Supervisor</mat-label>
                  <span class="entry-data">Rahul</span>
                </div>
              <div class="view-entry-hold">
                  <mat-label class="entry-label">Manager</mat-label>
                  <span class="entry-data">rayapudi</span>
                </div>
              <div class="view-entry-hold">
                  <mat-label class="entry-label">Approved By</mat-label>
                  <span class="entry-data">---</span>
                </div>
              <div class="view-entry-hold">
                  <mat-label class="entry-label">Date of Approval</mat-label>
                  <span class="entry-data">---</span>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
  </div>
</div>
