<div class="settings-views multi-options-view has-overall-heading">
    <div class="overall-heading">
        <app-title
          title="Find Employee"
          subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem est ex modi architecto accusamus vitae laborum minima et, eaque dolore!
          "
        ></app-title>
        
        <span class="spacer"></span>
        <button class="action-button" mat-raised-button color="primary" >
          <mat-icon>add</mat-icon>
          <span class="button-text">New Employee</span>
        </button>
        <div class="action-padding"></div>
      </div>

      <div class="overall-view">
       
        <div class="contents-view">
      <div class="search-and-new-hold">
        <div class="new-reason-hold mat-elevation-z4">
    
        </div>
        <div class="form-field-hold search-input-hold">
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="outline"
          >
            <mat-icon matPrefix 
              >search</mat-icon
            >
            <!-- style="margin-top: 8px; margin-bottom: 12px" -->
            <input matInput placeholder="Search Employee" />
            <button matSuffix mat-icon-button style="margin-right: -15px">
              <mat-icon>close</mat-icon>
            </button>
           
          </mat-form-field>
        </div>
    </div> 
    
<div class="contents">
    <div class="employee-content-hold " >
        <div class="employee-content-data-hold">
          <div>
            <span class="entry-data entry-text">KVP-Phanindra</span>
            <span class="entry-label">(12ab34-5688)</span>
          </div>
          </div>
          
    </div>
</div>



</div>


<div class="info-and-options-view" >
    <div class="reasons-hold info-options-hold  mat-elevation-z4" >
        <!-- style="max-height: calc(100vh - 310px); overflow-y: auto;" -->
        <div class="info-data-hold">
        <p>controls</p>
        <p>controls</p>
        <p>controls</p>
        <p>controls</p>
        </div>
  </div>
  </div>
</div>
</div>