<div class="content-hold" style="width: 100%;margin-bottom: 20px;">
         

    <tool-bar
      [title]="'ADDING NEW EDUCATION'"
      class="content-title-hold"
      [hasEdit]="false"
      [hasDelete]="false"
      [currentAction]="'new'"
      (onAction)="doAction($event)"
     
    ></tool-bar>
    <div
      class="content-schema-view" style="padding-left: 20px;"
    >
    <!-- <div
    class="form-field-hold two-column-field">

    <mat-label class="form-field-label">Education Type</mat-label>
    <mat-form-field
    class="form-field-input"
    floatPlaceholder="never"
    appearance="fill"

  >
    <mat-select
    
      placeholder="Click to Select"
     
    >
      <mat-option></mat-option
      >
    </mat-select>
  </mat-form-field>

  </div>  -->
  <div  class="form-field-hold two-column-field">
    <mat-label class="form-field-label">College/Institute Name</mat-label>
    <mat-form-field
      class="form-field-input"
      floatPlaceholder="never"
      appearance="fill"
    >
      <input
        matInput
        [placeholder]=""
        #inputValue
       [(ngModel)]="empInstitute"
      />
    </mat-form-field>
   
  </div> 
  <div  class="form-field-hold two-column-field">
    <mat-label class="form-field-label">Course</mat-label>
    <mat-form-field
      class="form-field-input"
      floatPlaceholder="never"
      appearance="fill"
    >
      <input
        matInput
        [placeholder]=""
        #inputValue
       [(ngModel)]="empCourse"
      />
    </mat-form-field>
   
  </div> 
  <div  class="form-field-hold two-column-field">
    <mat-label class="form-field-label">Specification</mat-label>
    <mat-form-field
      class="form-field-input"
      floatPlaceholder="never"
      appearance="fill"
    >
      <input
        matInput
        [placeholder]=""
        #inputValue
       [(ngModel)]="empSpecialization"
      />
    </mat-form-field>
   
  </div> 

  <div class="form-field-hold two-column-field">
    <mat-label class="form-field-label">From Date</mat-label>
    <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
      <input matInput placeholder="Ex: 11 Mar 2021" [matDatepicker]="fromdate" 
         [disabled]="false"  [(ngModel)]="empFromDate">
      <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
      <mat-datepicker #fromdate disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-field-hold two-column-field">
    <mat-label class="form-field-label">To Date</mat-label>
    <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
      <input matInput placeholder="Ex: 11 Mar 2021" [matDatepicker]="todate" 
         [disabled]="false"  [(ngModel)]="empToDate">
      <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
      <mat-datepicker #todate disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
     
  

        
        <div  class="form-field-hold two-column-field">
            <mat-label class="form-field-label">Score</mat-label>
            <mat-form-field
              class="form-field-input"
              floatPlaceholder="never"
              appearance="fill"
            >
              <input
                matInput
                [placeholder]=""
                #inputValue
               [(ngModel)]="empScore"
              />
            </mat-form-field>
           
          </div> 
        <div  class="form-field-hold two-column-field">
            <mat-label class="form-field-label">ScoreMax</mat-label>
            <mat-form-field
              class="form-field-input"
              floatPlaceholder="never"
              appearance="fill"
            >
              <input
                matInput
                [placeholder]=""
                #inputValue
               [(ngModel)]="empScoreMax"
              />
            </mat-form-field>
           
          </div> 
        <div  class="form-field-hold two-column-field">
            <mat-label class="form-field-label">ScoreMetric</mat-label>
            <mat-form-field
              class="form-field-input"
              floatPlaceholder="never"
              appearance="fill"
            >
              <input
                matInput
                [placeholder]=""
                #inputValue
               [(ngModel)]="empScoreMetric"
              />
            </mat-form-field>
           
          </div> 
      
         
          
     
          <div  class="form-field-hold two-column-field">
            <mat-label class="form-field-label">Type</mat-label>
            <mat-form-field
              class="form-field-input"
              floatPlaceholder="never"
              appearance="fill"
            >
              <input
                matInput
                [placeholder]=""
                #inputValue
               [(ngModel)]="empScoreType"
              />
            </mat-form-field>
           
          </div> 
          <div class="form-field-hold" >
            <mat-label class="form-field-label">Remarks</mat-label>
            <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
              <textarea matInput placeholder="Ex: Notes" [(ngModel)]="empRemarks" ></textarea>
            </mat-form-field>
          </div>
    </div>
   
 
  </div> 