<div class="content-hold" style="width: 100%;margin-bottom: 20px;">
         

    <tool-bar
      [title]="'ADDING NEW EDUCATION'"
      class="content-title-hold"
      [hasEdit]="false"
      [hasDelete]="false"
      [currentAction]="'new'"
      (onAction)="doAction($event)"
     
    ></tool-bar>
    <div
      class="content-schema-view" style="padding-left: 20px;"
    >
    <!-- <div
    class="form-field-hold two-column-field">

    <mat-label class="form-field-label">Education Type</mat-label>
    <mat-form-field
    class="form-field-input"
    floatPlaceholder="never"
    appearance="fill"

  >
    <mat-select
    
      placeholder="Click to Select"
     
    >
      <mat-option></mat-option
      >
    </mat-select>
  </mat-form-field>

  </div>  -->
  <div  class="form-field-hold two-column-field">
    <!-- <mat-label class="form-field-label">College/Institute Name</mat-label>
    <mat-form-field
      class="form-field-input"
      floatPlaceholder="never"
      appearance="fill"
    >
      <input
        matInput
        [placeholder]=""
        #inputValue
       [(ngModel)]="empInstitute"
      />
    </mat-form-field> -->
    <app-kit-text-component
    [label]="'College/Institute Name'"
    [minLength]="3"
    [maxLength]="30"
    [placeholder]="'College/Institute Name'"
    (sendData)="handleInput('institute', $event)"
  ></app-kit-text-component>
   
  </div> 
  <div  class="form-field-hold two-column-field">
    <!-- <mat-label class="form-field-label">Course</mat-label>
    <mat-form-field
      class="form-field-input"
      floatPlaceholder="never"
      appearance="fill"
    >
      <input
        matInput
        [placeholder]=""
        #inputValue
       [(ngModel)]="empCourse"
      />
    </mat-form-field> -->
    
    <app-kit-text-component
    [label]="'Course'"
    [minLength]="3"
    [maxLength]="30"
    [placeholder]="'Course'"
    (sendData)="handleInput('course', $event)"
  ></app-kit-text-component>
  </div> 
  <div  class="form-field-hold two-column-field">
    <!-- <mat-label class="form-field-label">Specification</mat-label>
    <mat-form-field
      class="form-field-input"
      floatPlaceholder="never"
      appearance="fill"
    >
      <input
        matInput
        [placeholder]=""
        #inputValue
       [(ngModel)]="empSpecialization"
      />
    </mat-form-field> -->
    <app-kit-text-component
    [label]="'Specification'"
    [minLength]="3"
    [maxLength]="30"
    [placeholder]="'Specification'"
    (sendData)="handleInput('specialization', $event)"
  ></app-kit-text-component>
   
  </div> 

  <div class="form-field-hold two-column-field">
    <!-- <mat-label class="form-field-label">From Date</mat-label>
    <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
      <input matInput placeholder="Ex: 11 Mar 2021" [matDatepicker]="fromdate" 
         [disabled]="false"  [(ngModel)]="empFromDate">
      <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
      <mat-datepicker #fromdate disabled="false"></mat-datepicker>
    </mat-form-field> -->
    <app-kit-datepicker
        [label]="'From Date'"
        [placeholder]="'From Date'"
        (sendData)="handleInput('fromDate', $event)"
      ></app-kit-datepicker>
  </div>

  <div class="form-field-hold two-column-field">
    <!-- <mat-label class="form-field-label">To Date</mat-label>
    <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
      <input matInput placeholder="Ex: 11 Mar 2021" [matDatepicker]="todate" 
         [disabled]="false"  [(ngModel)]="empToDate">
      <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
      <mat-datepicker #todate disabled="false"></mat-datepicker>
    </mat-form-field> -->
    <app-kit-datepicker
        [label]="'To Date'"
        [placeholder]="'To Date'"
        (sendData)="handleInput('toDate', $event)"
      ></app-kit-datepicker>
  </div>
     
  

        
        <div  class="form-field-hold two-column-field">
            <!-- <mat-label class="form-field-label">Score</mat-label>
            <mat-form-field
              class="form-field-input"
              floatPlaceholder="never"
              appearance="fill"
            >
              <input
                matInput
                [placeholder]=""
                #inputValue
               [(ngModel)]="empScore"
              />
            </mat-form-field>
            -->
            <app-kit-input-mask
        [label]="'Score'"
        [placeholder]="'Score'"
       
        (sendData)="handleInput('score', $event)"
      ></app-kit-input-mask>
          </div> 
        <div  class="form-field-hold two-column-field">
            <!-- <mat-label class="form-field-label">ScoreMax</mat-label>
            <mat-form-field
              class="form-field-input"
              floatPlaceholder="never"
              appearance="fill"
            >
              <input
                matInput
                [placeholder]=""
                #inputValue
               [(ngModel)]="empScoreMax"
              />
            </mat-form-field>
            -->
            <app-kit-input-mask
            [label]="'ScoreMax'"
            [placeholder]="'ScoreMax'"
           
            (sendData)="handleInput('scoremax', $event)"
          ></app-kit-input-mask>
          </div> 
        <div  class="form-field-hold two-column-field">
            <!-- <mat-label class="form-field-label">ScoreMetric</mat-label>
            <mat-form-field
              class="form-field-input"
              floatPlaceholder="never"
              appearance="fill"
            >
              <input
                matInput
                [placeholder]=""
                #inputValue
               [(ngModel)]="empScoreMetric"
              />
            </mat-form-field> -->
            <app-kit-input-mask
        [label]="'ScoreMetric'"
        [placeholder]="'ScoreMetric'"
       
        (sendData)="handleInput('scoremetric', $event)"
      ></app-kit-input-mask>
           
          </div> 
      
         
          
     
          <div  class="form-field-hold two-column-field">
            <!-- <mat-label class="form-field-label">Type</mat-label>
            <mat-form-field
              class="form-field-input"
              floatPlaceholder="never"
              appearance="fill"
            >
              <input
                matInput
                [placeholder]=""
                #inputValue
               [(ngModel)]="empScoreType"
              />
            </mat-form-field> -->
            <app-kit-text-component
            [label]="'Type'"
            [minLength]="3"
            [maxLength]="30"
            [placeholder]="'Type'"
            (sendData)="handleInput('type', $event)"
          ></app-kit-text-component>
           
          </div> 
          <div class="form-field-hold" >
            <!-- <mat-label class="form-field-label">Remarks</mat-label>
            <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
              <textarea matInput placeholder="Ex: Notes" [(ngModel)]="empRemarks" ></textarea>
            </mat-form-field> -->
            <app-kit-text-component
            [label]="'Remarks'"
            [minLength]="3"
            [maxLength]="30"
            [placeholder]="'Remarks'"
            (sendData)="handleInput('remarks', $event)"
          ></app-kit-text-component>
          </div>
          <div class="form-field-hold">
            <app-company-identification-uploader ></app-company-identification-uploader>
          </div>
    </div>
   
 
  </div> 