<div>
    <div class="control-label">{{label}}</div>
   
    
    <ejs-maskedtextbox   [mask]="mask"   name="label" [placeholder]="placeholder" 
    [(ngModel)]="fielddata"
    #inputValue
    (change)="DataToParent(inputValue.value)"
    [(value)]='value'
    ></ejs-maskedtextbox>
    
</div> 
 


  <!-- <div class='e-input-group' style='margin-bottom:30px'> -->
    <!-- <ejs-input class='e-input' type='text' [(ngModel)]='value' placeholder='Mobile Number' ></ejs-input> -->
 <!-- </div>
 <ejs-maskedtextbox mask='000-000-0000' [(value)]='value'></ejs-maskedtextbox> -->

 <!-- <ejs-maskedtextbox mask='000-000-0000' [(value)]='value'   #inputValue (change)="logValue($event)"></ejs-maskedtextbox> -->