@import '../../../../styles.scss';

@import '../../../../styles/syncimport.scss';
.tool-bar {
    width: calc(100% - 32px);
    border-bottom: 1px solid #ddd;
  
    .tool-bar-title {
      font-weight: bold;
      text-transform: uppercase;
  
      &.no-transform {
        text-transform: none;
      }
    }
  
    
  }

  .date{
    font-size: 15px;
  }
  .dateColor{
    
    color: #606197;
  }