<div class="settings-view multi-options-view has-overall-heading">
  <div class="overall-heading" style="padding-left: 300px">
    <app-title title="Applyresign/Force Exit"></app-title>
    <span class="spacer"></span>
    <div class="action-padding"></div>
  </div>
  <div class="overall-view">
    <div class="info-and-options-view">
      <div class="settings-nav-hold">
        <div class="search-and-new-hold">
          <div class="new-reason-hold mat-elevation-z4"></div>
          <div class="form-field-hold search-input-hold"></div>
        </div>
        <div class="reasons-hold info-options-hold mat-elevation-z4">
          <!-- style="max-height: calc(100vh - 310px); overflow-y: auto;" -->
        </div>
      </div>
    </div>
    <div class="contents-view">
      <div class="contents">
        <div class="content-data-hold">
          <tool-bar
            [title]="'employeename'"
            class="content-title-hold"
            [currentAction]="_currentAction"
            [hasEdit]="false"
            [hasDelete]="false"
            (onAction)="doAction($event)"
          ></tool-bar>
          <div class="content-schema-view" style="padding: 20px">
            <div class="view-entry-hold ">
                <mat-label class="entry-label">Last Working day</mat-label>
                <span class="entry-data">29 May 2022</span>
              </div>
            <div class="view-entry-hold ">
                <mat-label class="entry-label">Task Name</mat-label>
                <span class="entry-data">Handovering the files of Project </span>
              </div>
            <div class="view-entry-hold ">
                <mat-label class="entry-label">Task Description</mat-label>
                <span class="entry-data">please upload the files </span>
              </div>
            <div class="view-entry-hold two-column-field">
                <mat-label class="entry-label">Target Date</mat-label>
                <span class="entry-data">29 May 2022</span>
              </div>
            <div class="view-entry-hold two-column-field">
                <mat-label class="entry-label">Status</mat-label>
                <span class="entry-data">Not Completed</span>
              </div>
          </div>
        </div>
      </div>
      <!-- <app-schema-attribute  [currentSelectedReason]="currentSelectedReason"></app-schema-attribute> -->
    </div>
    <div style="padding-right: 400px">
       
      </div>
  </div>
  
</div>
