@import "~@angular/material/theming";
@import "./variables.scss";

@include mat-core();

$md-primary: (
  50: #e6e7fe,
  100: #b5b6fd,
  200: #8385fb,
  300: #5255fa,
  400: #2024f8,
  500: #03045e,
  600: #0508ad,
  700: #04067c,
  800: #03045e,
  900: #020231,
  A100: #cecefd,
  A200: #b5b6fd,
  A400: #03045e,
  A700: #020231,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-secondary: (
  50: #f0f1ee,
  100: #dbdcd5,
  200: #c3c5b9,
  300: #aaad9d,
  400: #989c88,
  500: #868a73,
  600: #7e826b,
  700: #737760,
  800: #696d56,
  900: #565a43,
  A100: #f2feb8,
  A200: #e9fe85,
  A400: #e1ff51,
  A700: #dcff37,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-primary: mat-palette($md-primary);
$app-accent: mat-palette($md-secondary);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
