$primary-color: #020231;
$secondary-color: #868a73;

$background-color: #fff5f3;
$primary-light-color: #ffd098;
$secondary-light-color: #e7e7e4;

$alternate-primary-color: #00bcff;
$alternate-secondary-color: #0056b1;

$font-light-color: $background-color;
$font-dark-color: $primary-color;
$full-white: #fff;
$far-lightest-grey: #eee;

@import "./common.scss";
