<div>
  <div class="headings">
    <div class="title-hold">
      <span class="title mat-display-1 primary-color-text">New Employee</span>
    </div>
    <span class="spacer"></span>
  </div>
  <div class="contents">
    <!-- <div class="content-loading-hold">
      <mat-spinner></mat-spinner>
      <span class="mat-display-1 content-loading-text"></span>
    </div> -->
    <div class="content-hold">
      <!-- tool-bar -->

      <!-- <tool-bar title="Overview" class="content-title-hold" [currentAction]="_currentAction"
        (onAction)="doAction($event)"></tool-bar> -->
      <mat-toolbar class="tool-bar">
        <span class="tool-bar-title">Employee Registration Form</span>
        <span class="spacer"></span>
        <button
          mat-button
          class="tool-bar-button"
          matTooltip="help"
          (click)="doAction('help')"
          *ngIf="hasEdit && currentAction == 'view'"
        >
          <mat-icon>help</mat-icon>
          <span class="button-label">help</span>
        </button>
        <button
          mat-button
          class="tool-bar-button"
          matTooltip="Cancel"
          (click)="doAction('cancel')"
          *ngIf="currentAction == 'new' || currentAction == 'view'"
        >
          <mat-icon>cancel</mat-icon>
          <span class="button-label">Cancel</span>
        </button>
        <button
          mat-raised-button
          color="primary"
          class="tool-bar-button bt-bg"
          matTooltip="Save Changes"
          (click)="doAction('save') "
          (click)="onSave()"
          *ngIf="currentAction == 'new' || currentAction == 'view'"
        >
          <mat-icon>save</mat-icon>
          <span class="button-label">Save</span>
        </button>
      </mat-toolbar>
      <div
        class="company-overview-contents content-data-hold"
        [formGroup]="companyDetails"
        *ngIf="currentAction == 'view'"
      >
        <div class="form-field-hold three-column-field">
          <mat-label class="form-field-label">FirstName</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              placeholder="Ex:Kamal"
              formControlName="firstname"
            />
            
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.get('firstname').hasError('pattern')">
            Please enter only letters max 30 characters
          </div>
        </div>
        <div class="form-field-hold three-column-field">
          <mat-label class="form-field-label">MiddleName</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input matInput placeholder="Ex:sai" formControlName="middlename" />
            
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.get('middlename').hasError('pattern')">
            Please enter only letters max 30 characters
          </div>
        </div>
        <div class="form-field-hold three-column-field">
          <mat-label class="form-field-label">lastname</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              placeholder="Ex:kollimarla"
              formControlName="lastname"
            />
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.get('lastname').hasError('pattern')">
            Please enter only letters max 30 characters
          </div>
        </div>
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Email</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              placeholder="Ex:kamal@virinchi.com"
              formControlName="email"
            />
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.get('email').hasError('pattern')">
            Please enter valid email
          </div>
        </div>
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Mobile</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
        
            <input
            
              matInput
              placeholder="Ex:xxxxxxx999"
              formControlName="mobile"
            />
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.get('mobile').hasError('pattern')">
            Please enter 10 digit number
          </div>
        </div>
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Password</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              placeholder="Ex:**********"
              formControlName="password"
            />
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.get('password').hasError('pattern')">
            Password must contain at least 8 characters, one uppercase letter, one lowercase letter, one digit, and one special character.
          </div>
        </div>
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">ConfirmPassword</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              placeholder="Ex:**********"
              formControlName="confirmpassword"
            />
          </mat-form-field>
        
        </div>
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Date-of-Birth</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              placeholder="Ex:dd-mm-yyyy"
              formControlName="birth"
              [matDatepicker]="dateofbirth"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dateofbirth"
            ></mat-datepicker-toggle>
            <mat-datepicker #dateofbirth disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Date-of-joining</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              placeholder="Ex:dd-mm-yyyy"
              formControlName="joining"
              [matDatepicker]="joiningdate"
            />
            
            
            <mat-datepicker-toggle
              matSuffix
              [for]="joiningdate"
            ></mat-datepicker-toggle>
            <mat-datepicker #joiningdate disabled="false"></mat-datepicker>
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.hasError('ageInvalid') && (companyDetails.get('birth').dirty || companyDetails.get('joining').dirty)">
            Age must be at least 18 years.
          </div>
          
        </div>
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Marriage-Date</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              placeholder="Ex:dd-mm-yyyy"
              formControlName="marriage"
              [matDatepicker]="marriagedate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="marriagedate"
            ></mat-datepicker-toggle>
            <mat-datepicker #marriagedate disabled="false"></mat-datepicker>
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.hasError('marriageInvalid') && (companyDetails.get('birth').dirty || companyDetails.get('marriage').dirty)">
            Marriage date must be at least 21 years after birthdate
          </div>
        </div>
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Resignation-Date</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input
              matInput
              [matDatepicker]="resignationdate"
              placeholder="Ex:dd-mm-yyyy"
              formControlName="resignation"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="resignationdate"
            ></mat-datepicker-toggle>
            <mat-datepicker #resignationdate disabled="false"></mat-datepicker>
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.hasError('resignationInvalid') && (companyDetails.get('joining').dirty || companyDetails.get('resignation').dirty)">
            resignation-date should be greater than joining-date
          </div>
        </div>
        <div class="form-field-hold">
          <mat-label class="form-field-label">Skills</mat-label>
          <section class="example-section">
            <mat-checkbox  class="example-margin"
              >Angular</mat-checkbox
            >
            <mat-checkbox formControlName="skills" class="example-margin">React</mat-checkbox>
            <mat-checkbox  formControlName="skills" class="example-margin">Python</mat-checkbox>
            <mat-checkbox   formControlName="skills" class="example-margin">MySql</mat-checkbox>
          </section>
        </div>
        <div class="form-field-hold">
          <mat-label class="form-field-label">Comments</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              formControlName="comments"
              placeholder="Ex.Max 300 characters only"
            ></textarea>
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.get('comments').hasError('pattern')">
            please write a comment max 300 characters
          </div>
        </div>
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Education</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <mat-select
              matInput
              placeholder="Ex: cse"
              formControlName="education"
              [(ngModel)]="selectedOption"
            >
            <mat-option *ngFor="let option of options" [value]="option">{{ option.label }}</mat-option>
          </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field-hold two-column-field">
          <mat-label class="form-field-label">Marks</mat-label>
          <mat-form-field
            class="form-field-input"
            floatPlaceholder="never"
            appearance="fill"
          >
            <input matInput placeholder="Ex:123.00" formControlName="marks" />
          </mat-form-field>
          <div class="errorstyle" *ngIf="companyDetails.get('marks').hasError('pattern')">
            please enter valid input
          </div>
        </div>
        <div class="form-field-hold two-three-column-field">
          <mat-label class="form-field-label">Rating</mat-label>
          <mat-label class="form-field-label">{{ value }}</mat-label>

          <mat-slider
            style="width: 400px"
            class="example-margin"
            [disabled]="disabled"
            [max]="max"
            [min]="min"
            [step]="step"
            formControlName="rating"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
      </div>
    </div>
  </div>
</div>
