<div class="multi-options-view">
    <div class="info-and-options-view">
      <div class="info-avatar avatar-logo-loading-hold" >
        <!-- <mat-spinner [diameter]="90" [strokeWidth]="5"></mat-spinner> -->
      </div>
      <!-- <app-avatar>
      </app-avatar> -->
      <!-- <div class="avatar-hold" >
        <div class="alpha-avatar" >avatarText</div>
        <div class="img-avatar"></div>
        <button mat-mini-fab  matTooltip="Click to change the avatar" class="change-button">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
       -->
      <div class="info-options-hold mat-elevation-z4">
        <div class="info-data-hold">
          <span class="mat-title info-title"></span>
          <span class="mat-subheading-1 info-subtitle">
           </span>
        </div>
        <!-- <div class="info-data-hold" >
          <span class="mat-title info-title"></span>
          <span class="mat-subheading-1 info-subtitle">Loading..</span>
        </div> -->
        <ng-container *ngFor="let option of _available_options">
          <button mat-button class="option-item" [matTooltip]="option" matTooltipPosition="right" (click)="selectOption(option)" [ngClass]="{'selected': option == _selected_option}"
          >
          <mat-icon *ngIf="option == _selected_option" color="primary" class="selection_arrow">arrow_right</mat-icon>
          {{option}}
          </button>
        </ng-container>
      </div>
    </div>
    <div class="contents-view" >
<app-employee-profile-entry *ngIf="_selected_option == 'PROFILE'"></app-employee-profile-entry>
    </div>
    <div>
<app-employee-profile-entry-rightsidenav *ngIf="_selected_option == 'PROFILE'"></app-employee-profile-entry-rightsidenav>
    </div>
  </div>
  