<div class="identifications-item-hold" >
   <ng-container  >
    <tool-bar [title]="identificationsInfo.type" class="content-title-hold" [currentAction]="_currentAction"
      (onAction)="doAction($event)" [hasEdit]="true" [hasDelete]="true" *ngIf="!isProcessing">
    </tool-bar>
  </ng-container>
    <div class="identification-contents content-data-hold no-padding-h" *ngIf="_currentAction == 'view' && !isProcessing">
      <div style="display: flex;padding:0 25px;">
        <div class="view-entry-hold two-three-column-field">
          <span class="entry-text"> {{identificationsInfo.type}}</span>
          <span class="entry-text" style="margin-top: 8px;"> {{ 'By' + identificationsInfo.issuedby}}</span>
        </div>
        <div class="view-entry-hold three-column-field">
          <span class="entry-text flag-hold" style="justify-content: flex-end;"  *ngFor="let country of countries">
            <!-- <mat-icon [svgIcon]="identification.fkcountrycode" *ngIf="identification.fkcountry"></mat  -icon> -->
           {{identificationsInfo.fkcountrycode == country.id ? country.value : null}}
          </span>
        </div>
      </div>
      <div class="view-entry-hold identification-number-hold">
        <span class="mat-display-1 primary-color-text" style="margin: 20px 0 0 10px;">{{identificationsInfo.number}}</span>
      </div>
      <div class="view-entry-hold identification-name-hold">
        <span class="entry-text primary-color-text highlight-title"
          style="margin: 0 0 20px 10px;"> {{identificationsInfo.name}} </span>
      </div>
      <div class="spacer" style="display: flex;padding:0 25px;">
        <div class="view-entry-hold three-column-field">
          <mat-label class="entry-label">Issued Date</mat-label>
          <span class="entry-data">{{ identificationsInfo.issuedate ? (identificationsInfo.issuedate | stringToDate) : '' }}
          </span>
        </div>
        <div class="view-entry-hold three-column-field" style="align-items: flex-end;">
          <mat-label class="entry-label">Valid From</mat-label>
          <span class="entry-data ">{{ identificationsInfo.validfromdate ? (identificationsInfo.validfromdate | stringToDate) : '' }}
          </span>
        </div>
        <div class="view-entry-hold three-column-field" style="align-items: flex-end;" >
          <mat-label class="entry-label">Valid Upto</mat-label>
          <span class="entry-data">{{ identificationsInfo.validuptodate ? (identificationsInfo.validuptodate |stringToDate) : '' }}
          </span>
        </div>
      </div>
      <div class="view-entry-hold" *ngIf="identificationsInfo.attachments.length">
        <div class="mat-small hr-inline-text-hold"><span class="hr-inline-text"
            [innerHtml]="(identificationsInfo.attachments.length + _selectedAttachments.length) > 0 ? 'Attachements : <b>' + (identificationsInfo.attachments.length + _selectedAttachments.length) + '</b>' : 'No Attachements'"></span>
        </div>
        <div class="attachments-hold">
          <ng-container *ngFor="let attachment of identificationsInfo.attachments">
            <app-attachment [attachment]="attachment" [readonly]="false" [isProcessing]="isProcessing"
            (onDelete)="removeAttachment(attachment)" >
              
            </app-attachment>
          </ng-container>
          <!-- <ng-container *ngFor="let selectedFile of _selectedAttachments; let idx = index">
            <app-attachment [file]="selectedFile" [readonly]="false" [isProcessing]="isProcessing"
            (onDelete)="removeSelectedAttachment(idx)" >
             
            </app-attachment>
          </ng-container> -->
          <!-- <span class="spacer"></span>
          <input type="file" name="file" #file [multiple]="true" accept="image/*,application/pdf" -->
            
          <!-- <button mat-stroked-button color="primary" (click)="file.click()">
            <mat-icon>upload</mat-icon>
            Add Attachments
          </button> -->
        </div>
      </div>
    </div>
    <div class="identification-edit-contents content-data-hold" 
      *ngIf="_currentAction == 'edit'">
     
      <div class="form-field-hold two-column-field">
         <!-- <div class="control-label" >country</div>
          <ejs-dropdownlist id='country' [dataSource]='countrydata' [fields]='fields' (filtering)='onFiltering($event)' [filterBarPlaceholder]="filterPlaceholder"
          [popupHeight]='height' [allowFiltering]='true' [placeholder]='watermark' [(ngModel)]="selectedCountry" > </ejs-dropdownlist> -->

          <app-kit-country-dropdown [label]="'country'"  [placeholder]="'country'"
          (sendData)="handleInput('fkcountrycode',$event)"
          ></app-kit-country-dropdown>



      </div>
     
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Identity Type</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <mat-select matInput placeholder="Ex: PAN"  [(ngModel)]="identificationsInfo.type">
            <mat-option *ngFor="let identityType of identityTypeDropdown" [value]="identityType.value">
              {{identityType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <!-- <div class="control-label">Identity Type</div>
        <ejs-dropdownlist id='games' [dataSource]='identityType' [fields]='typeFields' [placeholder]='typeWaterMark'
        [popupHeight]='typeheight'[(ngModel)]="identificationsInfo.type" ></ejs-dropdownlist> -->

        <app-kit-dropdown [label]="'Identity Type'"  [placeholder]="'Identity Type'" [dropdata]="identityType"
        (sendData)="handleInput('type',$event)" ></app-kit-dropdown>


      </div>
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Issued By</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <mat-select matInput placeholder="Ex: Income-Tax Department">
            <mat-option *ngFor="let identityIssued of identityIssuedByDropdown" [value]="identityIssued.value">
              {{identityIssued.value}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <!-- <div class="control-label">Issued By</div>
        <ejs-dropdownlist id='games' [dataSource]='identityissudby' [fields]='issudbyFields' [placeholder]='issudbyWatermark'
        [popupHeight]='issudbyHeight' [(ngModel)]="identificationsInfo.issuedby" ></ejs-dropdownlist> -->
        <app-kit-dropdown [label]="'Issued By'"  [placeholder]="'Issued By'" [dropdata]="identityissudby"
        (sendData)="handleInput('issuedby',$event)" ></app-kit-dropdown>
       

      </div>
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Issued Date</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: 11 Mar 2021" [matDatepicker]="issuedate" 
             [disabled]="false"  [(ngModel)]="idissueDate">
          <mat-datepicker-toggle matSuffix [for]="issuedate"></mat-datepicker-toggle>
          <mat-datepicker #issuedate disabled="false"></mat-datepicker>
        </mat-form-field> -->
        <!-- <div class="control-label">Issued Date</div>
        <ejs-datepicker [(ngModel)]="idissueDate" ></ejs-datepicker> -->
        <app-kit-datepicker [label]="'Issued Date'" [placeholder]="'Issued Date'"  (sendData)="handleInput('issuedate',$event)"  ></app-kit-datepicker>
        

      </div>
      
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Identity Number</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: ABCDE 1234A." [(ngModel)]="identificationsInfo.number" >
        </mat-form-field> -->
        <app-kit-text-component [label]="'Identity Number'" [placeholder]="'Identity Number'"
           (sendData)="handleInput('number',$event)"
           ></app-kit-text-component>
      </div>
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Identity Name</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: Full Name"  [(ngModel)]="identificationsInfo.name">
        </mat-form-field> -->
        <app-kit-text-component [label]="'Identity Name'" [placeholder]="'Identity Name'"
           (sendData)="handleInput('name',$event)"
           ></app-kit-text-component>
      </div>
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Valid From</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: 11 Mar 2021" 
            [matDatepicker]="validfrom"  [disabled]="false" [(ngModel)]="idFromDate">
          <mat-datepicker-toggle matSuffix [for]="validfrom"></mat-datepicker-toggle>
          <mat-datepicker #validfrom disabled="false"></mat-datepicker>
        </mat-form-field> -->
        <!-- <div class="control-label">Valid From</div>
        <ejs-datepicker [(ngModel)]="idFromDate" ></ejs-datepicker>
      -->
      <app-kit-datepicker [label]="'Valid From'" [placeholder]="'Valid From'"  (sendData)="handleInput('validfromdate',$event)"  ></app-kit-datepicker>
      </div>
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Valid Upto</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: 11 Mar 2021" 
            [matDatepicker]="validupto" [disabled]="false" [(ngModel)]="idValidUpto">
          <mat-datepicker-toggle matSuffix [for]="validupto"></mat-datepicker-toggle>
          <mat-datepicker #validupto disabled="false"></mat-datepicker>
        </mat-form-field> -->
        <!-- <div class="control-label">Valid Upto</div>
        <ejs-datepicker [(ngModel)]="idValidUpto" ></ejs-datepicker> -->
        <app-kit-datepicker [label]="'Valid Upto'" [placeholder]="'Valid Upto'"  (sendData)="handleInput('validuptodate',$event)"  ></app-kit-datepicker>

      </div>
      <div class="view-entry-hold">
        <app-company-identification-uploader [table_id]="table_id" [table_name]="table_name" [uploadedbyfkempid]="uploadedbyfkempid" [category]="category" ></app-company-identification-uploader>
      </div>
    </div>
  </div>
  