<div class="identifications-item-hold">
   
    <tool-bar [title]="identificationsInfo.type" class="content-title-hold" [currentAction]="_currentAction"
      (onAction)="doAction($event)" [hasEdit]="true" [hasDelete]="true" *ngIf="!isProcessing">
    </tool-bar>
    <div class="identification-contents content-data-hold no-padding-h" *ngIf="_currentAction == 'view' && !isProcessing">
      <div style="display: flex;padding:0 25px;">
        <div class="view-entry-hold two-three-column-field">
          <span class="entry-text"> {{identificationsInfo.type}}</span>
          <span class="entry-text" style="margin-top: 8px;"> {{ 'By' + identificationsInfo.issuedby}}</span>
        </div>
        <div class="view-entry-hold three-column-field">
          <span class="entry-text flag-hold" style="justify-content: flex-end;"  *ngFor="let country of countries">
            <!-- <mat-icon [svgIcon]="identification.fkcountrycode" *ngIf="identification.fkcountry"></mat-icon> -->
           {{identificationsInfo.fkcountrycode == country.id ? country.value : null}}
          </span>
        </div>
      </div>
      <div class="view-entry-hold identification-number-hold">
        <span class="mat-display-1 primary-color-text" style="margin: 20px 0 0 10px;">{{identificationsInfo.number}}</span>
      </div>
      <div class="view-entry-hold identification-name-hold">
        <span class="entry-text primary-color-text highlight-title"
          style="margin: 0 0 20px 10px;"> {{identificationsInfo.name}} </span>
      </div>
      <div class="spacer" style="display: flex;padding:0 25px;">
        <div class="view-entry-hold three-column-field">
          <mat-label class="entry-label">Issued Date</mat-label>
          <span class="entry-data">{{ identificationsInfo.issuedate ? (identificationsInfo.issuedate | stringdate:'YYYY-MM-DD':'DD MMMM YYYY') : '' }}
          </span>
        </div>
        <div class="view-entry-hold three-column-field" style="align-items: flex-end;">
          <mat-label class="entry-label">Valid From</mat-label>
          <span class="entry-data ">{{ identificationsInfo.validfromdate ? (identificationsInfo.validfromdate | stringdate:'YYYY-MM-DD':'DD MMMM YYYY') : '' }}
          </span>
        </div>
        <div class="view-entry-hold three-column-field" style="align-items: flex-end;" >
          <mat-label class="entry-label">Valid Upto</mat-label>
          <span class="entry-data">{{ identificationsInfo.validuptodate ? (identificationsInfo.validuptodate | stringdate:'YYYY-MM-DD':'DD MMMM YYYY') : '' }}
          </span>
        </div>
      </div>
      <div class="view-entry-hold">
        <!-- <div class="mat-small hr-inline-text-hold"><span class="hr-inline-text"
            [innerHtml]="_attachments.length > 0 ? 'Attachements : '<b>' + _attachments.length + '</b>' : 'No Attachements'"></span> -->
        <!-- </div> -->
        <div class="attachments-hold" *ngIf="_attachments.length > 0">
          <ng-container *ngFor="let attachment of _attachments">
            <!-- <app-attachment [attachment]="attachment"></app-attachment> -->
          </ng-container>
          <span class="spacer"></span>
          <button mat-stroked-button color="primary" >
            <mat-icon>download</mat-icon>
            Download All
          </button>
        </div>
      </div>
    </div>
    <div class="identification-edit-contents content-data-hold" 
      *ngIf="_currentAction == 'edit'">
     
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Country</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill"  *ngFor="let country of countries">
          <mat-select placeholder="Ex: Country" [(ngModel)]="selectedCountry" >
            <mat-select-trigger>
              <span class="flag-hold" >
                <mat-icon></mat-icon>
                {{country.value}}
              </span>
            </mat-select-trigger>
            <mat-option [value]="country.id">
              <span class="flag-hold">
                <mat-icon ></mat-icon>{{country.value}}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
     
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Identity Type</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <mat-select matInput placeholder="Ex: PAN"  [(ngModel)]="identificationsInfo.type">
            <mat-option *ngFor="let identityType of identityTypeDropdown" [value]="identityType.value">
              {{identityType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Issued By</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <mat-select matInput placeholder="Ex: Income-Tax Department">
            <mat-option *ngFor="let identityIssued of identityIssuedByDropdown" [value]="identityIssued.value">
              {{identityIssued.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Issued Date</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: 11 Mar 2021" [matDatepicker]="issuedate" 
             [disabled]="false"  [(ngModel)]="idissueDate">
          <mat-datepicker-toggle matSuffix [for]="issuedate"></mat-datepicker-toggle>
          <mat-datepicker #issuedate disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Identity Number</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: ABCDE 1234A." [(ngModel)]="identificationsInfo.number" >
        </mat-form-field>
      </div>
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Identity Name</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: Full Name"  [(ngModel)]="identificationsInfo.name">
        </mat-form-field>
      </div>
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Valid From</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: 11 Mar 2021" 
            [matDatepicker]="validfrom"  [disabled]="false" [(ngModel)]="idFromDate">
          <mat-datepicker-toggle matSuffix [for]="validfrom"></mat-datepicker-toggle>
          <mat-datepicker #validfrom disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Valid Upto</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: 11 Mar 2021" 
            [matDatepicker]="validupto" [disabled]="false" [(ngModel)]="idValidUpto">
          <mat-datepicker-toggle matSuffix [for]="validupto"></mat-datepicker-toggle>
          <mat-datepicker #validupto disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="view-entry-hold">
        <!-- <div class="mat-small hr-inline-text-hold"><span class="hr-inline-text"
            [innerHtml]="(_attachments.length + _selectedAttachments.length) > 0 ? 'Attachements : <b>' + (_attachments.length + _selectedAttachments.length) + '</b>' : 'No Attachements'"></span>
        </div> -->
        <div class="attachments-hold">
          <ng-container *ngFor="let attachment of _attachments">
            <!-- <app-attachment [attachment]="attachment" [readonly]="false" [isProcessing]="isProcessing"
              (onDelete)="removeAttachment(attachment)">
            </app-attachment> -->
          </ng-container>
          <ng-container *ngFor="let selectedFile of _selectedAttachments; let idx = index">
            <!-- <app-attachment [file]="selectedFile" [readonly]="false" [isProcessing]="isProcessing"
              (onDelete)="removeSelectedAttachment(idx)">
            </app-attachment> -->
          </ng-container>
          <span class="spacer"></span>
          <input type="file" name="file" #file [multiple]="true" accept="image/*,application/pdf"
            >
          <button mat-stroked-button color="primary" (click)="file.click()">
            <mat-icon>upload</mat-icon>
            Add Attachments
          </button>
        </div>
      </div>
    </div>
  </div>
  