
.content-schema-view{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    
      }

      
  /* Style for the mat-card */
  mat-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Style for the upload container */
  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  /* Style for the file input */
  input[type="file"] {
    display: none;
  }

  /* Style for the upload icon container */
  .upload-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    cursor: pointer;
  }

  /* Style for the upload icon */
  .upload-icon {
    font-size: 50px;
  
    color: #ccc;
  }

  /* Style for the upload text */
  .upload-text {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }

  /* Style for the mat-card-content (optional) */
  mat-card-content {
    font-size: 16px;
    line-height: 1.6;
  }

