<div class="content-hold" style="width: 100%;margin-bottom: 20px;">
         

    <tool-bar
      [title]="'ADDING NEW EMPLOYEE'"
      class="content-title-hold"
      [hasEdit]="false"
      [hasDelete]="false"
     
    ></tool-bar>
    <div
      class="content-schema-view"
    >
    <div class="setting-data-hold content-schema-view  " style="padding-left: 20px;">
        
        <div class="form-field-hold two-column-field">
        <mat-card>
            <div class="upload-container">
              <input type="file" id="fileInput" >
              <label for="fileInput" class="upload-icon-container">
                <mat-icon class="upload-icon">cloud_upload</mat-icon>
                <span class="upload-text">Click to Upload</span>
              </label>
            </div>
          
            <mat-card-content>
         
            </mat-card-content>
          </mat-card>
          </div>
        
          
         <div class="form-field-hold two-column-field"> 
    <div  class="form-field-hold">
        <mat-label class="form-field-label">Employee Name</mat-label>
        <mat-form-field
          class="form-field-input"
          floatPlaceholder="never"
          appearance="fill"
        >
          <input
            matInput
            [placeholder]=""
            #inputValue
           
          />
        </mat-form-field>
       
      </div>
      <div class="form-field-hold">
        <mat-label class="form-field-label">Employee Number</mat-label>
        <mat-form-field
          class="form-field-input"
          floatPlaceholder="never"
          appearance="fill"
        >
          <input
            matInput
            [placeholder]=""
            #inputValue
           
          />
        </mat-form-field>
       
      </div>
</div>

      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Designation</mat-label>
        <mat-form-field
          class="form-field-input"
          floatPlaceholder="never"
          appearance="fill"
        >
          <input
            matInput
            [placeholder]=""
            #inputValue
           
          />
        </mat-form-field>
       
      </div>

      <div
      class="form-field-hold two-column-field">
 
      <mat-label class="form-field-label">Department</mat-label>
      <mat-form-field
      class="form-field-input"
      floatPlaceholder="never"
      appearance="fill"

    >
      <mat-select
      
        placeholder="Click to Select"
       
      >
        <mat-option></mat-option
        >
      </mat-select>
    </mat-form-field>

    </div>

    <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Mail</mat-label>
        <mat-form-field
          class="form-field-input"
          floatPlaceholder="never"
          appearance="fill"
        >
          <input
            matInput
            [placeholder]=""
            #inputValue
           
          />
        </mat-form-field>
       
      </div>
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Phone</mat-label>
        <mat-form-field
          class="form-field-input"
          floatPlaceholder="never"
          appearance="fill"
        >
          <input
            matInput
            [placeholder]=""
            #inputValue
           
          />
        </mat-form-field>
       
      </div>
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Company Name</mat-label>
        <mat-form-field
          class="form-field-input"
          floatPlaceholder="never"
          appearance="fill"
        >
          <input
            matInput
            [placeholder]=""
            #inputValue
           
          />
        </mat-form-field>
       
      </div>
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Place/City/Location</mat-label>
        <mat-form-field
          class="form-field-input"
          floatPlaceholder="never"
          appearance="fill"
        >
          <input
            matInput
            [placeholder]=""
            #inputValue
           
          />
        </mat-form-field>
       
      </div>





</div>

    </div>
   
 
  </div> 