<div class="setting-hold">
          
    <app-leave-rules-add
      *ngIf="_currentAction == 'new'"
      [_currentAction]="_currentAction"
      (onAction)="doAction($event)"
    ></app-leave-rules-add>
    <div class="contents" style="overflow: hidden; flex-direction: column">
      <div
        class="content-hold"
        style="margin-bottom: 20px"
        *ngFor="let education of educationArray; let i = index"
      >
        <!-- <tool-bar
        [title]="'28-02-2001'"
        class="content-title-hold"
        [currentAction]="_currentAction"
        [hasEdit]="true"
        [hasDelete]="false"
        (onAction)="doAction($event)"
      ></tool-bar> -->
        <mat-toolbar class="tool-bar">
          <span class="tool-bar-title" [innerHtml]="'casual-Leave(lct01)'"></span>
          <span class="sub-title mat-small"></span>
          <span class="spacer"></span>
          <!-- View Mode -->
          <ng-container *ngIf="i !== _editIndex; else editMode">
            <button
              mat-button
              class="tool-bar-button bt-color"
              matTooltip="Edit"
              (click)="doAction('edit'); startEdit(i)"
            >
              <mat-icon>edit</mat-icon>
              <span class="button-label">Edit</span>
            </button>
          </ng-container>
          <!-- Edit Mode -->
          <ng-template #editMode>
            <button
              mat-button
              class="tool-bar-button"
              matTooltip="Cancel"
              (click)="doAction('cancel')"
            >
              <mat-icon>cancel</mat-icon>
              <span class="button-label">Cancel</span>
            </button>
            <button
              mat-raised-button
              color="primary"
              class="tool-bar-button"
              matTooltip="Save Changes"
              (click)="doAction('save')"
            >
              <mat-icon>save</mat-icon>
              <span class="button-label">Save</span>
            </button>
          </ng-template>
        </mat-toolbar>
        <!-- Content-view -->

        <div
          class="company-overview-contents content-data-hold"
          *ngIf="_currentAction == 'view' || i !== _editIndex"
        >
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Employement Type</mat-label>
          <span class="entry-data">Saturday(2nd & 4th)</span>
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Status</mat-label>
          <span class="entry-data">Active</span>
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Start Year</mat-label>
          <span class="entry-data">01 Jan 2022</span>
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">End Year</mat-label>
          <span class="entry-data">31 Dec 2022</span>
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Description</mat-label>
          <span class="entry-data">Application  for new joiners</span>
        </div>
        </div>

        <div
          class="company-overview-contents content-data-hold"
          *ngIf="_currentAction == 'edit'&& i == _editIndex"
        >
         
         
          <div class="form-field-hold two-column-field">
            <app-kit-dropdown
              [label]="'Type of Leave'"
              [placeholder]="'Type of Leave'"
              [dropdata]=""
              [required]="true"
            ></app-kit-dropdown>
          </div>
          <div class="form-field-hold two-column-field">
            <app-kit-dropdown
              [label]="'Status'"
              [placeholder]="'Status'"
              [dropdata]=""
              [required]="true"
            ></app-kit-dropdown>
          </div>
          <div class="form-field-hold two-column-field">
              <app-kit-datepicker
                [label]="'Start Year'"
                [placeholder]="'Start Year'"
              ></app-kit-datepicker>
            </div>
            <div class="form-field-hold two-column-field">
              <app-kit-datepicker
                [label]="'End Year'"
                [placeholder]="'End Year'"
              ></app-kit-datepicker>
            </div>
          <div class="form-field-hold">
            <app-kit-text-component
              [label]="'Holiday Description'"
              [minLength]="3"
              [maxLength]="30"
              [placeholder]="'Holiday Description'"
            ></app-kit-text-component>
          </div>
        </div>
      </div>
      <div class="controls-view"></div>
    </div>
  </div>