<div class="contents">
        
    <div class="content-hold">
      <tool-bar
        [title]="'Adding New Holiday'"
        class="content-title-hold"
        [currentAction]="'new'"
        [hasEdit]="false"
        [hasDelete]="false"
        (onAction)="doAction($event)"
      ></tool-bar>

      <!-- Content-view -->

      

      <div
        class="company-overview-contents content-data-hold"
       
      >
        <div class="form-field-hold two-column-field">
          <app-kit-datepicker
            [label]="'Valid Upto'"
            [placeholder]="'Valid Upto'"
          ></app-kit-datepicker>
        </div>
        <div class="form-field-hold two-column-field">
          <app-kit-text-component
            [label]="'Holiday'"
            [minLength]="3"
            [maxLength]="30"
            [placeholder]="'Holiday'"
          ></app-kit-text-component>
        </div>
        <div class="form-field-hold">
          <app-kit-dropdown
            [label]="'Type of Holiday'"
            [placeholder]="'Type of Holiday'"
            [dropdata]=""
            [required]="true"
          ></app-kit-dropdown>
        </div>

        <div class="form-field-hold">
          <app-kit-text-component
            [label]="'Holiday Description'"
            [minLength]="3"
            [maxLength]="30"
            [placeholder]="'Holiday Description'"
          ></app-kit-text-component>
        </div>
      </div>
    </div>
    <div class="controls-view"></div>
  </div>