<div>
    <div class="headings">
      <app-title
        title="History"
      subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, eum exercitationem? Alias consequuntur labore ab corrupti delectus ea omnis in!"
        
      ></app-title>
      <span class="spacer"></span>
      <button class="action-button" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        <span class="button-text">Add New History</span>
      </button>
    </div>
    <div class="setting-hold">
      
     <div  class="contents" style="overflow: hidden;flex-direction: column;">
      
        <div class="content-hold" style="width: 100%;margin-bottom: 20px;">
          <tool-bar
            [title]="'NEW PROMOTION'"
            class="content-title-hold"
            [hasEdit]="false"
            [hasDelete]="false"
            [hasDate]="true"
            [currentAction]="'date'"
           
          ></tool-bar> 
          <div
              class="content-schema-view ">  
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label secondHead" >Old Role</mat-label>
                <span class="entry-data"></span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label secondHead">New Role</mat-label>
                <span class="entry-data"></span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label ">Department</mat-label>
                <span class="entry-data">Civil-02</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label ">Department</mat-label>
                <span class="entry-data">Civil-03</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label ">Grade</mat-label>
                <span class="entry-data">L2G2</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label ">Grade</mat-label>
                <span class="entry-data">L3G3</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label ">Salary</mat-label>
                <span class="entry-data">75,547</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label ">Salary</mat-label>
                <span class="entry-data">1,02,324</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label ">Supervisor</mat-label>
                <span class="entry-data">RT-Rahul Trivedi</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label ">Supervisor</mat-label>
                <span class="entry-data">kk-Kamal Kumar</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label ">Manager</mat-label>
                <span class="entry-data">kamal</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label ">Manager</mat-label>
                <span class="entry-data">kamalakar</span>
              </div>
            </div>
        </div>
      
      
     
<!-- <app-employee-addemployee></app-employee-addemployee> -->


      </div>
       

    </div>
  </div>