<div class="contents">
  <div class="content-hold">
    <div class="company-overview-contents content-data-hold">
      <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Registered Company Name</mat-label>
        <mat-form-field
          class="form-field-input"
          floatPlaceholder="never"
          appearance="fill"
        >
          <input type="text" id="username" name="username" />

          <!-- <input matInput placeholder="Ex: Organisation India Pvt Ltd" /> -->
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
