<div>
  
      <div class="headings">
        <app-title
          title="Profile"
        subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, eum exercitationem? Alias consequuntur labore ab corrupti delectus ea omnis in!"
          
        ></app-title>
        <span class="spacer"></span>
      
      </div>
      <div class="setting-hold" >
        
       <div  class="contents" style="overflow: hidden;flex-direction: column;">
          <div class="content-hold" style="width: 100%;margin-bottom: 20px;" *ngIf="_currentAction == 'view'">
            <tool-bar
              [title]="'Profile'"
              class="content-title-hold"
              [hasEdit]="false"
              [hasDelete]="false"
             
            ></tool-bar> 
            <div  class="content-schema-view" *ngFor="let personal of fetchEmpPersonal">
            
              <div class="view-entry-schema two-column-field ">
                 <span class="entry-data entry-text" style="font-size: 150%;">KVP-Phanindra <span class="entry-label">(12ab34-5688)</span></span>
             
              </div>
            
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label">Manager</mat-label>
                <span class="entry-data">phanindra</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <span class="entry-data">{{personal.email}}</span>
                <span class="entry-data">{{personal.mobile}}</span>
                <span class="entry-data">DTPL-HYD <span class="entry-data" style="padding-left: 40px;">Kondapur</span></span>

              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label">Supervisor</mat-label>
                <span class="entry-data">Kamal</span>   
              </div>

            </div>
          </div>
           <!-- <div class = "content-hold " style="width: 100%;margin-bottom: 20px;"  *ngIf="_currentAction == 'view'">
        
            <tool-bar
              [title]="'Personal Info'"
              class="content-title-hold"
              [hasEdit]="true"
              [hasDelete]="false"
               ></tool-bar>
            <div
              class="content-schema-view ">  
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Gender</mat-label>
                <span class="entry-data">Male</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Date Of Birth</mat-label>
                <span class="entry-data">23-05-2001</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Date Of Marriage</mat-label>
                <span class="entry-data">23-05-2001</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Date Of Joining</mat-label>
                <span class="entry-data">23-05-2001</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Date Of Resignation</mat-label>
                <span class="entry-data">23-05-2001</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Date Of Exit</mat-label>
                <span class="entry-data">23-05-2001</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Grade</mat-label>
                <span class="entry-data">L3G3</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Monthly CTC</mat-label>
                <span class="entry-data">75,576</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Effective Date</mat-label>
                <span class="entry-data">23-05-2001</span>
              </div>
            </div>
           
        
          </div> -->



        
       
<!-- <app-employee-addemployee *ngIf="_currentAction !== 'view'"></app-employee-addemployee> -->


        </div>
         

        <!-- <app-schema-attribute  [currentSelectedReason]="currentSelectedReason"></app-schema-attribute> -->
      </div>
    
  </div>

 