<div>
  
      <div class="headings">
        <app-title
          title="Profile"
        subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, eum exercitationem? Alias consequuntur labore ab corrupti delectus ea omnis in!"
          
        ></app-title>
        <span class="spacer"></span>
      
      </div>
      <div class="setting-hold" >
        
       <div  class="contents" style="overflow: hidden;flex-direction: column;">
          <div class="content-hold" style="width: 100%;margin-bottom: 20px;" *ngIf="_currentAction == 'view' || 'edit'">
            <tool-bar
              [title]="'Profile'"
              class="content-title-hold"
              [hasEdit]="false"
              [hasDelete]="false"
             
            ></tool-bar> 
            <div  class="content-schema-view" >
            
              <div class="view-entry-schema two-column-field ">
                 <span class="entry-data entry-text" style="font-size: 150%;"> {{employeeDetails?.displayname}}<span class="entry-label">{{employeeDetails?.empno}}</span></span>
             
              </div>
            
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label">Manager</mat-label>
                <span class="entry-data">phanindra</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <span class="entry-data">{{employeeDetails?.personalemail}}</span>
                <span class="entry-data">{{employeeDetails?.mobile1}}</span>
                <span class="entry-data">DTPL-HYD <span class="entry-data" style="padding-left: 40px;">Kondapur</span></span>

              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label">Supervisor</mat-label>
                <span class="entry-data">Kamal</span>   
              </div>

            </div>
          </div>
            <div class = "content-hold " style="width: 100%;margin-bottom: 20px;"  >
        
            <tool-bar
              [title]="'Personal Info'"
              class="content-title-hold"
              [hasEdit]="true"
              [hasDelete]="false"
              [currentAction]="_currentAction"
              (onAction)="doAction($event)"
               ></tool-bar>
            <div
              class="content-schema-view "  *ngIf="_currentAction == 'view'">  
              <div class="view-entry-schema three-column-field "  >
                <mat-label class="entry-label">Gender</mat-label>
                <span class="entry-data">{{employeeDetails?.gender === 'M'? 'Male':'Female'}}</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Date Of Birth</mat-label>
                <span class="entry-data">{{ employeeDetails?.personalData?.dateofbirth ? (employeeDetails.personalData.dateofbirth | stringToDate) : '' }}</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Date Of Marriage</mat-label>
                <span class="entry-data">{{ employeeDetails?.personalData?.dateofmarriage ? (employeeDetails.personalData.dateofmarriage | stringToDate) : '' }}</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Email</mat-label>
                <span class="entry-data">{{ employeeDetails?.personalData?.email}}</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Mobile</mat-label>
                <span class="entry-data">{{ employeeDetails?.personalData?.mobile }}</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">LinkedIn</mat-label>
                <span class="entry-data">{{ employeeDetails?.personalData?.linkedin}}</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Twitter</mat-label>
                <span class="entry-data">{{ employeeDetails?.personalData?.twitter }}</span>
              </div>
             
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Instagram</mat-label>
                <span class="entry-data">{{ employeeDetails?.personalData?.instagram }}</span>
              </div>
             
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Facebook</mat-label>
                <span class="entry-data">{{ employeeDetails?.personalData?.facebook }}</span>
              </div>
              <div class="view-entry-schema three-column-field ">
                <mat-label class="entry-label">Website</mat-label>
                <span class="entry-data">{{ employeeDetails?.personalData?.website }}</span>
              </div>
             
            
             
             
            </div>
           
            <div class="setting-data-hold" style="padding-left: 20px;"  *ngIf="_currentAction == 'edit'" >
              <!-- <app-employee-profile-personal-add [empDetails]="employeeDetails"   ></app-employee-profile-personal-add> -->
              

<div class="setting-data-hold content-schema-view " style="padding-top: 20px;">


  <div class="form-field-hold two-column-fields">
     
      <!-- <mat-label class="form-field-label">Gender</mat-label>
      <mat-form-field
      class="form-field-input"
      floatPlaceholder="never"
      appearance="fill">
      <mat-select placeholder="Click to Select" [(ngModel)]="employeeDetails.gender">
        <mat-option *ngFor="let gender of genderArray" [value]="gender.id" >{{gender.value}}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <app-kit-dropdown [label]="'Gender'" [fielddata]="employeeDetails?.gender" [placeholder]="'Gender'" [dropdata]="genderArray"
    (sendData)="handleInput('type',$event)" ></app-kit-dropdown>
   

    </div>

    <div class="form-field-hold two-column-fields">
      <!-- <mat-label class="form-field-label">Date Of Birth</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput placeholder="Ex: 11 Mar 2021" [matDatepicker]="Birth" 
           [disabled]="false" [(ngModel)]="empPersonaldob" >
        <mat-datepicker-toggle matSuffix [for]="Birth"></mat-datepicker-toggle>
        <mat-datepicker #Birth disabled="false"></mat-datepicker>
      </mat-form-field> -->
      <app-kit-datepicker [label]="'Date Of Birth'" [placeholder]="'Date Of Birth'"  (sendData)="handleInput('dateofbirth',$event)"  ></app-kit-datepicker>
    </div>


    <div class="form-field-hold two-column-fields">
      <!-- <mat-label class="form-field-label">Date Of Marriage</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput placeholder="Ex: 11 Mar 2021" [matDatepicker]="Marriage" 
           [disabled]="false"  [(ngModel)]="empPersonalDateOfMarriage" >
        <mat-datepicker-toggle matSuffix [for]="Marriage"></mat-datepicker-toggle>
        <mat-datepicker #Marriage disabled="false"></mat-datepicker>
      </mat-form-field> -->
      <app-kit-datepicker [label]="'Date Of Marriage'" [placeholder]="'Date Of Marriage'"  (sendData)="handleInput('dateofmarriage',$event)"  ></app-kit-datepicker>
    </div>


    <div class="form-field-hold two-column-fields">
      <!-- <mat-label class="form-field-label">Email</mat-label>
      <mat-form-field
        class="form-field-input"
        floatPlaceholder="never"
        appearance="fill"
      >
        <input
          matInput
          [placeholder]="'kamalakar'"
          #inputValue
        [(ngModel)]="employeeDetails.personalData.email"
        />
      </mat-form-field> -->
      <app-kit-text-component [label]="'Email'" [fielddata]="employeeDetails?.personalData?.email" [placeholder]="'Email'"
      (sendData)="handleInput('email',$event)"
      ></app-kit-text-component>
     
    </div>

    <div class="form-field-hold two-column-fields">
      <!-- <mat-label class="form-field-label">Mobile</mat-label>
      <mat-form-field
        class="form-field-input"
        floatPlaceholder="never"
        appearance="fill"
      >
        <input
          matInput
          [placeholder]="'kamalakar'"
          #inputValue
          [(ngModel)]="employeeDetails.personalData.mobile"
        
        />
      </mat-form-field> -->

      <app-kit-text-component [label]="'Mobile'" [fielddata]="employeeDetails?.personalData?.mobile" [placeholder]="'Mobile'"
      (sendData)="handleInput('mobile',$event)"
      ></app-kit-text-component>
    </div>

    
    <div class="form-field-hold two-column-fields">
      <!-- <mat-label class="form-field-label">linkedIn</mat-label>
      <mat-form-field
        class="form-field-input"
        floatPlaceholder="never"
        appearance="fill"
      >
        <input
          matInput
          [placeholder]="'kamalakar'"
          #inputValue
          [(ngModel)]="employeeDetails.personalData.linkedin"
        
        />
      </mat-form-field> -->
      <app-kit-text-component [label]="'linkedIn'" [fielddata]="employeeDetails?.personalData?.linkedin" [placeholder]="'linkedIn'"
      (sendData)="handleInput('linkedin',$event)"
      ></app-kit-text-component>
     
    </div>

    
    <div class="form-field-hold two-column-fields">
      <!-- <mat-label class="form-field-label">Twitter</mat-label>
      <mat-form-field
        class="form-field-input"
        floatPlaceholder="never"
        appearance="fill"
      >
        <input
          matInput
          [placeholder]="'kamalakar'"
          #inputValue
          [(ngModel)]="employeeDetails.personalData.twitter"
        
        />
      </mat-form-field> -->
      <app-kit-text-component [label]="'Twitter'" [fielddata]="employeeDetails?.twitter?.linkedin" [placeholder]="'Twitter'"
      (sendData)="handleInput('twitter',$event)"
      ></app-kit-text-component>
     
    </div>

    
    <div class="form-field-hold two-column-fields">
      <!-- <mat-label class="form-field-label">Instagram</mat-label>
      <mat-form-field
        class="form-field-input"
        floatPlaceholder="never"
        appearance="fill"
      >
        <input
          matInput
          [placeholder]="'kamalakar'"
          #inputValue
        [(ngModel)]="employeeDetails.personalData.instagram"
        />
      </mat-form-field> -->

      <app-kit-text-component [label]="'Instagram'" [fielddata]="employeeDetails?.instagram?.linkedin" [placeholder]="'Instagram'"
      (sendData)="handleInput('instagram',$event)"
      ></app-kit-text-component>
     
     
    </div>

    
    <div class="form-field-hold two-column-fields">
      <!-- <mat-label class="form-field-label">Facebook</mat-label>
      <mat-form-field
        class="form-field-input"
        floatPlaceholder="never"
        appearance="fill"
      >
        <input
          matInput
          [placeholder]="'kamalakar'"
          #inputValue
        [(ngModel)]="employeeDetails.personalData.facebook"
        />
      </mat-form-field> -->
      <app-kit-text-component [label]="'Facebook'" [fielddata]="employeeDetails?.facebook?.linkedin" [placeholder]="'Facebook'"
      (sendData)="handleInput('facebook',$event)"
      ></app-kit-text-component>
    </div>

    <div class="form-field-hold two-column-fields">
      <!-- <mat-label class="form-field-label">Website</mat-label>
      <mat-form-field
        class="form-field-input"
        floatPlaceholder="never"
        appearance="fill"
      >
        <input
          matInput
          [placeholder]="'kamalakar'"
          #inputValue
          [(ngModel)]="employeeDetails.personalData.website"
        />
      </mat-form-field> -->

     <app-kit-text-component [label]="'Website'" [fielddata]="employeeDetails?.website?.linkedin" [placeholder]="'Website'"
      (sendData)="handleInput('website',$event)"
      ></app-kit-text-component>
    </div>


    
   




   
</div>
              </div>
          </div>
            
            
          <!-- <div class = "content-hold" style="width: 100%;margin-bottom: 20px;" >
           
        </div>  -->


       



        
       



        </div>
         

        <!-- <app-schema-attribute  [currentSelectedReason]="currentSelectedReason"></app-schema-attribute> -->
      </div>
    
  </div>

 