
// @import '../../company-overview/company-overview.component.scss';
@import '../../../styles/syncimport.scss';
.title-hold {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  overflow: hidden;

  .title {
    margin: 0;
  }

  .sub-title {
    margin: 0;
  }
}

  .offices-item-hold {

    .office-contents {
      display: flex;
      flex-direction: column;
      min-height: 195px;
      padding: 25px !important;
    }
  
    .office-edit-contents {
      flex-wrap: wrap;
    }
  
    .content-loading-hold {
      margin: 110px 0;
  
      .content-loading-text {
        max-width: 350px;
      }
    }
  }
  
  .view-entry-hold {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 22px);
    padding-right: 22px;
    margin-bottom: 8px;

    .entry-label {
      color: #666;
      padding: 0 10px;
      margin-top: 0;
    }

    

    .entry-data {
      font-weight: bold;
      font-size: 120%;
      padding: 4px 10px 25px;
    }

    .entry-text {
      font-size: 1.5em;
    }

    .highlight-title {
      font-weight: bold;
    }
  }

  .form-field-hold {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 22px);
  padding: 0 22px 10px 0;

  .form-field-label {
    position: absolute;
    top: 0;
    left: 10px;
    color: #666;
  }

  .form-field-input {
    ::ng-deep {
      .mat-form-field-flex {
        background-color: transparent;
      }

      .mat-form-field-infix {
        font-weight: bold;
        font-size: 120%;
        padding: 0 0 5px 0;
      }

      .mat-form-field-underline {
        width: calc(100% + 22px);
      }
    }
  }
}

.form-field-hold {
  margin-top: -11px;
}

.form-field-hold {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 40px);
  padding: 0 22px 10px 0;
  margin-right: 18px;

  .form-field-label {
    position: absolute;
    top: 0;
    left: 10px;
    color: #666;
  }

  .form-field-input {
    ::ng-deep {
      .mat-form-field-flex {
        background-color: transparent;
      }

      .mat-form-field-prefix,
      .mat-form-field-suffix {
        font-weight: 700;
        font-size: 120%;
        padding: 0 5px 5px 0;
      }

      .mat-form-field-infix {
        font-weight: bold;
        font-size: 120%;
        padding: 0 0 5px 0;

        .mat-datepicker-input:disabled {
          color: #000;
        }
      }

      .mat-form-field-underline {
        width: calc(100% + 22px);
      }
    }
  }
}

.two-column-field {
  flex-grow: 1;
  width: calc(50% - 40px) !important;
}

.tool-bar {
  width: calc(100% - 32px);
  border-bottom: 1px solid #ddd;

  .tool-bar-title {
    font-weight: bold;
    text-transform: uppercase;

    &.no-transform {
      text-transform: none;
    }
  }

  
}