<div class="offices-item-hold">
    <!-- <div class="content-loading-hold">
      <mat-spinner></mat-spinner>
      <span class="mat-title content-loading-text"
        [innerHtml]="'Please wait, while the procesing <b>Office</b>:<b class=\'primary-color-text\'>' + _officeTitle + '</b> information.'"></span>
    </div> -->
    <!-- <tool-bar [title]="_officeTitle" class="content-title-hold" [currentAction]="_currentAction"
      (onAction)="doAction($event)" [hasEdit]="true" [hasDelete]="true" *ngIf="!isProcessing">
    </tool-bar> -->
    <mat-toolbar class="tool-bar">
        <span class="tool-bar-title">DTPL-HYD (HEAD OFFICE)</span>
        <span class="spacer"></span>
        <button
          mat-button
          class="tool-bar-button bt-color"
          matTooltip="Edit"
          (click)="doAction('edit')"
          *ngIf="hasEdit && currentAction == 'view'"
        >
          <mat-icon>edit</mat-icon>
          <span class="button-label">Edit</span>
        </button>
        <button mat-flat-button  class="tool-bar-button bt-bg" matTooltip="Delete" (click)="doAction('delete')"
    *ngIf="hasEdit && currentAction == 'view'">
    <mat-icon>delete</mat-icon>
    <span class="button-label">Delete</span>
  </button>
        <button
          mat-button
          class="tool-bar-button"
          matTooltip="Cancel"
          (click)="doAction('cancel')"
          *ngIf="currentAction == 'new' || currentAction == 'edit'"
        >
          <mat-icon>cancel</mat-icon>
          <span class="button-label">Cancel</span>
        </button>
        <button
          mat-raised-button
          color="primary"
          class="tool-bar-button"
          matTooltip="Save Changes"
          (click)="doAction('save')"
          (click)="saveOff()"
          *ngIf="currentAction == 'new' || currentAction == 'edit'"
        >
          <mat-icon>save</mat-icon>
          <span class="button-label">Save</span>
        </button>
      </mat-toolbar>
    <div class="office-contents content-data-hold" *ngIf="currentAction == 'view'">
      <div class="view-entry-hold">
        <span class="entry-text highlight-title">Design Tribe India Hyderabad</span>
      </div>
      <div class="view-entry-hold">
        <span class="entry-text">3rd Floor, Raja Prasadamu,</span>
      </div>
      <div class="view-entry-hold">
        <span class="entry-text">Opp Vijetha Super Market,</span>
      </div>
      <div class="view-entry-hold">
        <span class="entry-text">Botanical Garden Road,</span>
      </div>
      <div class="view-entry-hold">
        <span class="entry-text"> Kondapur, Hyderabad,</span>
      </div>
      <div class="view-entry-hold">
        <span class="entry-text flag-hold">
          <mat-icon></mat-icon>
          India - 500084.
        </span>
      </div>
    </div>
    <div class="office-edit-contents content-data-hold" [formGroup]="myGroup" *ngIf="currentAction == 'edit'">
    <!-- <div class="error-text-hold" >
      <mat-icon>error_outline</mat-icon>
      <span class="error-text" [innerHtml]="errorMsg"></span>
    </div> -->
    <!-- <div class="form-field-hold">
      <mat-label class="form-field-label">Office Title</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput placeholder="Ex: Short Code." formControlName="code">
      </mat-form-field>
    </div> -->
    <kit-ui-text-edit label="office title" [placeholder]="'Ex: Short Code.'"[formControlName]="'code'"></kit-ui-text-edit>
    <div class="form-field-hold two-column-field">
      <mat-label class="form-field-label">Office Name</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput placeholder="Ex: Organisation India Pvt Ltd" formControlName="name">
      </mat-form-field>
    </div>
    <div class="form-field-hold two-column-field">
      <mat-label class="form-field-label">Office Type</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <mat-select matInput placeholder="Ex: Organisation India Pvt Ltd" formControlName="type">
          <mat-option >officeType.valuest
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-field-hold two-column-field">
      <mat-label class="form-field-label">Flat No/Plot No/Floor</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput placeholder="Ex: 101, Ground floor" formControlName="flatno">
      </mat-form-field>
    </div>
    <div class="form-field-hold two-column-field">
      <mat-label class="form-field-label">Building Name</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput placeholder="Ex: Building Name" formControlName="buildingname">
      </mat-form-field>
    </div>
    <div class="form-field-hold two-column-field">
      <mat-label class="form-field-label">Road Name/Number</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput placeholder="Ex: Road no 1" formControlName="roadnumber">
      </mat-form-field>
    </div>
    <div class="form-field-hold two-column-field">
      <mat-label class="form-field-label">Landmark</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput placeholder="Ex: Near By Landmark" formControlName="landmark">
      </mat-form-field>
    </div>
    <div class="form-field-hold two-column-field">
      <mat-label class="form-field-label">Location</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput placeholder="Ex: Location" formControlName="location">
      </mat-form-field>
    </div>
    <div class="form-field-hold two-column-field">
      <mat-label class="form-field-label">City</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput placeholder="Ex: City" formControlName="city">
      </mat-form-field>
    </div>
    <div class="form-field-hold two-column-field">
      <mat-label class="form-field-label">Country</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <mat-select placeholder="Ex: Country" formControlName="fkcountrycode">
          <mat-select-trigger>
            <span class="flag-hold" >
              <mat-icon></mat-icon>
               offcieDetails.controls.fkcountrycode.value.name 
            </span>
          </mat-select-trigger>
          <mat-option>
            <span class="flag-hold">
              <mat-icon ></mat-icon>country.name
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-field-hold two-column-field">
      <mat-label class="form-field-label">Pincode</mat-label>
      <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
        <input matInput type="number" placeholder="Ex: 000000" formControlName="pincode">
      </mat-form-field>
    </div>
  </div>
    </div>