<div>
  <div class="headings">
    <app-title
      title="Address"
      subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, eum exercitationem? Alias consequuntur labore ab corrupti delectus ea omnis in!"
    ></app-title>
    <span class="spacer"></span>
    <button
      class="action-button"
      mat-raised-button
      color="primary"
      *ngIf="_currentAction == 'view'"
      (click)="doAction('new')"
    >
      <mat-icon>add</mat-icon>
      <span class="button-text">Add New Address</span>
    </button>
  </div>
  <div class="setting-hold">
    <div class="contents" style="overflow: hidden; flex-direction: column">
      
      <app-add-customer-address
      *ngIf="_currentAction == 'new'"
      [_currentAction]="_currentAction"
      [countries]="countriesArray"
      [addressArray]="addressArray"
      (onAction)="doAction($event)"></app-add-customer-address>
      <div
        class="content-hold"
        style="width: 100%; margin-bottom: 20px"
        *ngFor="let address of addressArray; let i = index"
      >
        <!-- <tool-bar
              [title]="'Current Address'"
              class="content-title-hold"
              [hasEdit]="true"
              [hasDelete]="false"
              [currentAction]="_currentAction"    
              (onAction)="doAction($event)"
              (onEdit)="startEdit(i)"
            ></tool-bar>  -->
        <mat-toolbar class="tool-bar">
          <span
            class="tool-bar-title"
            [innerHtml]="
              address.type === 'TA'
                ? 'Temporary Address'
                : address.type === 'PA'
                ? 'Permanent Address'
                : address.type
            "
          ></span>
          <span class="sub-title mat-small"></span>
          <span class="spacer"></span>
          <!-- View Mode -->
          <ng-container *ngIf="i !== _editIndex; else editMode">
            <button
              mat-button
              class="tool-bar-button bt-color"
              matTooltip="Edit"
              (click)="doAction('edit'); startEdit(i, address.id)"
            >
              <mat-icon>edit</mat-icon>
              <span class="button-label">Edit</span>
            </button>
            <button
              mat-flat-button
              color="primary"
              class="tool-bar-button"
              matTooltip="Delete"
              (click)="doAction('delete'); doDelete(address.id)"
            >
              <mat-icon>delete</mat-icon>
              <span class="button-label">Delete</span>
            </button>
          </ng-container>
          <!-- Edit Mode -->
          <ng-template #editMode>
            <button
              mat-button
              class="tool-bar-button"
              matTooltip="Cancel"
              (click)="doAction('cancel')"
            >
              <mat-icon>cancel</mat-icon>
              <span class="button-label">Cancel</span>
            </button>
            <button
              mat-raised-button
              color="primary"
              class="tool-bar-button"
              matTooltip="Save Changes"
              (click)="doAction('save')"
              (click)="updateAddress(address)"
            >
              <mat-icon>save</mat-icon>
              <span class="button-label">Save</span>
            </button>
          </ng-template>
        </mat-toolbar>
        <div
          class="office-contents content-schema-view"
          *ngIf="_currentAction == 'view' || i !== _editIndex"
        >
          <div class="view-entry-hold">
            <span class="entry-text">{{ "Plot No." + address?.houseno }}</span>
          </div>
          <div class="view-entry-hold">
            <span class="entry-text">{{ address?.building }}</span>
          </div>
          <div class="view-entry-hold">
            <span class="entry-text">{{ address?.landmark }}</span>
          </div>
          <div class="view-entry-hold">
            <span class="entry-text">{{ address?.street }}</span>
          </div>
          <div class="view-entry-hold">
            <span class="entry-text">
              {{ address?.area + "," + address?.city }}</span
            >
          </div>
          <div class="view-entry-hold">
            <span class="entry-text flag-hold">
              <mat-icon></mat-icon>
              {{ address?.fkcountrycode + "-" + address?.postalcode }}
            </span>
          </div>
        </div>
        <div
          class="setting-data-hold content-schema-view"
          style="padding-left: 20px"
          *ngIf="_currentAction == 'edit' && i == _editIndex"
        >
        <div class="form-field-hold two-column-field">
          <app-kit-dropdown
            [label]="'Address Type'"
            [placeholder]="'Address Type'"
            [dropdata]="addressTypeArray"
            [required]="true"
            (sendData)="handleInput('type', $event)"
          ></app-kit-dropdown>
        </div>
        <div class="form-field-hold two-column-field">
          <app-kit-input-mask
            [label]="'Line#1'"
            [placeholder]="'Line#1'"
            (sendData)="handleInput('houseno', $event)"
          ></app-kit-input-mask>
        </div>
        <div class="form-field-hold two-column-field">
          <app-kit-text-component
            [label]="'Line#2'"
            [placeholder]="'Line#2'"
            (sendData)="handleInput('building', $event)"
          ></app-kit-text-component>
        </div>
        <div class="form-field-hold two-column-field">
          <app-kit-input-mask
            [label]="'Line#3'"
            [placeholder]="'Line#3'"
            (sendData)="handleInput('street', $event)"
          ></app-kit-input-mask>
        </div>
        <div class="form-field-hold two-column-field">
          <app-kit-text-component
            [label]="'Location'"
            [placeholder]="'Location'"
            [minLength]="3"
            [maxLength]="15"
            (sendData)="handleInput('location', $event)"
          ></app-kit-text-component>
        </div>
        <div class="form-field-hold two-column-field">
          <app-kit-text-component
            [label]="'village/City Name'"
            [placeholder]="'village/City Name'"
            [minLength]="3"
            [maxLength]="15"
            (sendData)="handleInput('city', $event)"
          ></app-kit-text-component>
        </div>
        <div class="form-field-hold two-column-field">
          <app-kit-text-component
            [label]="'District'"
            [placeholder]="'District'"
            [minLength]="3"
            [maxLength]="15"
            (sendData)="handleInput('area', $event)"
          ></app-kit-text-component>
        </div>
        <div class="form-field-hold two-column-field">
          <app-kit-text-component
            [label]="'State'"
            [placeholder]="'State'"
            [minLength]="3"
            [maxLength]="15"
            (sendData)="handleInput('area', $event)"
          ></app-kit-text-component>
        </div>
    
        <div class="form-field-hold two-column-field">
          <app-kit-input-mask
            [label]="'Pincode'"
            [placeholder]="'Pincode'"
            (sendData)="handleInput('postalcode', $event)"
          ></app-kit-input-mask>
        </div>
    
        <!-- <div class="form-field-hold two-column-field">
        <app-kit-country-dropdown [label]="'country'"  [placeholder]="'country'"
        (sendData)="handleInput('fkcountrycode',$event)"
        ></app-kit-country-dropdown>
              </div> -->
    
        <div class="form-field-hold two-column-field">
          <app-kit-input-mask
            [label]="'Phone'"
            [placeholder]="'Phone'"
            (sendData)="handleInput('postalcode', $event)"
          ></app-kit-input-mask>
        </div>
        <div class="form-field-hold two-column-field">
          <app-kit-input-mask
            [label]="'Fax'"
            [placeholder]="'Fax'"
            (sendData)="handleInput('postalcode', $event)"
          ></app-kit-input-mask>
        </div>
        <div class="form-field-hold two-column-field">
          <app-kit-text-component
            [label]="'Mail'"
            [placeholder]="'Mail'"
            [minLength]="3"
            [maxLength]="15"
            (sendData)="handleInput('area', $event)"
          ></app-kit-text-component>
        </div>
    
        </div>
      </div>
     
    </div>
  </div>
</div>
