html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  overflow: hidden;
  background: #fff5f3;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #868a73;
}

* {
  box-sizing: content-box !important;
}
