@import "~@angular/material/theming";
@include mat-core();

@import "./styles/media.scss";
@import "./styles/theme.scss";

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  // overflow: hidden;
  // background: #fff5f3;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


.holder{
  display: flex;
  flex-wrap: wrap;
  background-color: $full-white;
}
::-webkit-scrollbar-thumb {
  background: #868a73;
}

* {
  box-sizing: content-box !important;
}


