<div>
    <!-- *ngIf="appComponent == 'yes'" -->
    <ng-container>
      <div class="top-bar-hold page-header-hold">
        <div class="app-logo-hold"></div>
        <div class="app-menu-hold">
          <ng-container>
            <!-- class="menu-item button"  -->
            <button mat-button class="menu-item" [matMenuTriggerFor]="settings"  [ngClass]="{'active-menu-item': activeButton === 'settings'}" (click)="activeButton = 'settings'">
  
              <span class="menu-item-text">Settings</span> 
              <!-- <span class="menu-item-text"></span> -->
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <!-- <button mat-icon-button [matMenuTriggerFor]="settings">
          </button> -->
            <!-- class="mat-menu-content" -->
  
            <mat-menu #settings="matMenu"  class="mat-menu-content">
              <button  mat-menu-item (click)="doAction('settings')">
              Settings
              </button>
              <button mat-menu-item (click)="doAction('reasons')">Reasons</button>
            </mat-menu>
  
            <button mat-button class="menu-item" (click)="doAction('schema-manager')"  [ngClass]="{'active-menu-item': activeButton === 'schema-manager'}" (click)="activeButton = 'schema-manager'">
              <span class="menu-item-text">  Schema Manager</span>
            </button>
            <button mat-button class="menu-item" [matMenuTriggerFor]="auth"  [ngClass]="{'active-menu-item': activeButton === 'authorization'}" (click)="activeButton = 'authorization'">
              <span class="menu-item-text">Authorization</span>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button> 
  
            <mat-menu #auth="matMenu" class="mat-menu-content">
              <button mat-menu-item class="menu-button">Roles</button>
              <button mat-menu-item class="menu-button" (click)="doAction('web-menu')">Web Menu</button>
              <button mat-menu-item class="menu-button">Web Authorization</button>
            </mat-menu>
  
            <button mat-button class="menu-item" (click)="doAction('company-profile')"  [ngClass]="{'active-menu-item': activeButton === 'company-profile'}" (click)="activeButton = 'company-profile'">
              <span class="menu-item-text">Company Profile</span>
            </button>
            <button mat-button class="menu-item" (click)="doAction('Find Employee')"  [ngClass]="{'active-menu-item': activeButton === 'employee'}" (click)="activeButton = 'employee'">
              <span class="menu-item-text">Find Employee</span>
            </button>
          </ng-container>
        </div>
        <div class="spacer"></div>
        <mat-menu class="navigation-menu-hold">
          <ng-template>
            <div class="menu-item-hold"></div>
          </ng-template>
        </mat-menu>
        <div class="profile-hold">
          <div class="user-profile-info-hold">
            <div class="user-profile-info">
              <span class="user-profile-title">Kamal</span>
              <span class="user-profile-sub-title mat-small">Engineer</span>
            </div>
  
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
  
          <mat-menu #userMenu="matMenu" class="user-profile-dropdown">
            <a mat-menu-item>
              <mat-icon color="warn">logout</mat-icon>
              <span>Logout</span>
            </a>
          </mat-menu>
        </div>
      </div>
    </ng-container>
  
    <div class="page-tabs-hold">
      <div class="full-view-hold">
        <div class="tree-view-hold mat-elevation-z6" *ngIf="isSideNavEnabled">
          <div class="tree-top-fixed-hold" >
            <div
              class="tree-top-fixed-title"
              *ngFor="let item of dynamicNavItems"
            >
              <button
                mat-icon-button
                class="tree-top-fixed-close-button"
                (click)="toggleSideNavView()"
                matTooltip="Hide list of opened tabs."
              >
                <mat-icon>close</mat-icon>
              </button>
              <button>{{ item }}</button>
            </div>
          </div>
          <div class="tree-view-float-hold">
            <ng-container>
              <!-- <div class="tabbed-nav-link-item">
            <mat-icon color="primary" class="selection_arrow"
              >arrow_right</mat-icon
            >
            <div class="tabbed-nav-link-item-lead-icon">
              <mat-icon>item</mat-icon>
            </div>
            <div class="tabbed-nav-link-item-label">item.label</div>
            <div class="tabbed-nav-link-item-expand">
              <mat-icon>keyboard_arrow_down</mat-icon>
              <mat-icon>keyboard_arrow_up</mat-icon>
            </div>
          </div> -->
            </ng-container>
          </div>
        </div>
  
        <div class="tab-view-hold">
          <div class="tab-view-header-hold mat-elevation-z6">
            <button
              mat-icon-button
              class="tab-view-header-menu-button"
              (click)="toggleSideNavView()"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <button
              mat-icon-button
              class="tab-view-header-menu-button"
              (click)="toggleSideNavView()"
            >
              <mat-icon>home</mat-icon>
            </button>
            <div class="tab-view-header-tabs" *ngIf="dynamicNavItems.length > 0">
              <mat-tab-group>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div
                      class="tabbed-item-hold"
                      *ngFor="let item of dynamicNavItems"
                    >
                      <div class="tabbed-item-lead-icon">
                        <!-- <mat-icon>tab.icon</mat-icon> -->
                      </div>
                      <div class="tabbed-item-label" (click)="doAction(item)" (click)="activeButton = (item === 'reasons' ? 'settings' : (item === 'roles' || item === 'web menu' || item === 'web authorization') ? 'authorization' : item)">
                        {{ item }}
                      </div>
                      <button mat-icon-button (click)="deleteItem(item)">
                        <mat-icon>highlight_off</mat-icon>
                      </button>
                    </div>
                  </ng-template>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
          <div>
            <ng-template appDynamicComponentLoader></ng-template>
           
            <div>
              <div class="info-and-options-view container">
                
  
                <app-company-overview
                  *ngIf="_selected_option == 'overview'"
                ></app-company-overview>
                <app-company-offices
                  *ngIf="_selected_option == 'offices'"
                ></app-company-offices>
               <app-company-profile
               *ngIf="_selected_option == 'company-profile'"
               ></app-company-profile>
                <app-new-overview
                  *ngIf="_selected_option == 'new-overview'"
                ></app-new-overview>
                <app-settings
                  *ngIf="_selected_option == 'settings'"
                ></app-settings>
                <app-reasons *ngIf="_selected_option == 'reasons'"></app-reasons>
                <app-schema-manager
                  *ngIf="_selected_option == 'schema-manager'"
                ></app-schema-manager>
  
                <app-schema-column
                  *ngIf="_selected_option == 'column'"
                ></app-schema-column>
                <app-web-menu *ngIf="_selected_option == 'web-menu'"></app-web-menu>
                <app-employee *ngIf="_selected_option == 'Find Employee'"></app-employee>
              </div>
              <!-- </mat-tab> -->
              <!-- </mat-tab-group> -->
            </div>
  
            <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div *ngIf="appComponent == 'no'">
    <app-schema-column  ></app-schema-column>
  </div> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <a routerLink="column" routerLinkActive="active"></a> -->
  <!-- <app-schema-column></app-schema-column> -->
