<div>
    <div class="headings">
      <app-title
        title="Contact"
      subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, eum exercitationem? Alias consequuntur labore ab corrupti delectus ea omnis in!"
        
      ></app-title>
      <span class="spacer"></span>
      <button class="action-button" mat-raised-button color="primary" (click)="doAction('new')" *ngIf="_currentAction == 'view'">
        <mat-icon>add</mat-icon>
        <span class="button-text">Add New Contact</span>
      </button>
    </div>
    <div class="setting-hold">
      
     <div  class="contents" style="overflow: hidden;flex-direction: column;" >
      
       <app-employee-add-contact *ngIf="_currentAction == 'new'"  [_currentAction]="_currentAction"  (onAction)="doAction($event)" [empRelationTypeArray]="relationTypeArray"
        [contactsArray]="contactsArray" ></app-employee-add-contact>
    
        <div class="content-hold" style="width: 100%;margin-bottom: 20px;" *ngFor="let contact of contactsArray ;let i = index" >
          <mat-toolbar class="tool-bar">
            <span class="tool-bar-title"  [innerHtml]="contact.contactname + '-' + contact.relationtype"></span>
            <span class="sub-title mat-small"></span>
            <span class="spacer"></span>
            <!-- View Mode -->
            <ng-container *ngIf="i !== _editIndex; else editMode">
              <button
                mat-button
                class="tool-bar-button bt-color"
                matTooltip="Edit"
                (click)="doAction('edit'); startEdit(i)"
              >
                <mat-icon>edit</mat-icon>
                <span class="button-label">Edit</span>
              </button>
              <button
                mat-flat-button
                color="primary"
                class="tool-bar-button"
                matTooltip="Delete"
                (click)="doAction('delete');doDelete(contact.id)"
              >
                <mat-icon>delete</mat-icon>
                <span class="button-label">Delete</span>
              </button>
            </ng-container>
            <!-- Edit Mode -->
            <ng-template #editMode>
              <button
                mat-button
                class="tool-bar-button"
                matTooltip="Cancel"
                (click)="doAction('cancel')"
              >
                <mat-icon>cancel</mat-icon>
                <span class="button-label">Cancel</span>
              </button>
              <button
                mat-raised-button
                color="primary"
                class="tool-bar-button"
                matTooltip="Save Changes"
                (click)="doAction('save')"
                (click)="updateContact(contact)"
              >
                <mat-icon>save</mat-icon>
                <span class="button-label">Save</span>
              </button>
            </ng-template>
          </mat-toolbar>
          <!-- [currentAction]="_currentAction" -->
          <div
              class="content-schema-view " *ngIf="_currentAction=='view' || i !== _editIndex">  
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label">Contact Number</mat-label>
                <span class="entry-data">{{contact.phonenumber}}</span>
              </div>
              <div class="view-entry-schema two-column-field ">
                <mat-label class="entry-label">E-mail id</mat-label>
                <span class="entry-data">{{contact.email}}</span>
              </div>  
            </div>

            <div>
              <div class="setting-data-hold content-schema-view  " style="padding-left: 20px;" *ngIf="_currentAction=='edit' && i == _editIndex">
                  
                  <div  class="form-field-hold two-column-field">
                      <mat-label class="form-field-label">Contact Name</mat-label>
                      <mat-form-field
                        class="form-field-input"
                        floatPlaceholder="never"
                        appearance="fill"
                      >
                        <input
                          matInput
                          [placeholder]=""
                          #inputValue
                         [(ngModel)]="contact.contactname"
                        />
                      </mat-form-field>
                     
                    </div> 
                   
                <div
                class="form-field-hold two-column-field">
           
                <mat-label class="form-field-label">Relation</mat-label>
                <mat-form-field
                class="form-field-input"
                floatPlaceholder="never"
                appearance="fill"
          
              >
                <mat-select
                
                  placeholder="Click to Select"
                 [(ngModel)]="contact.relationtype"
                >
                  <mat-option *ngFor="let relation of relationTypeArray" [value]="relation.value">{{relation.value}}</mat-option
                  >
                </mat-select>
              </mat-form-field>
          
              </div> 
                   
            
                <div class="form-field-hold two-column-field">
                  <mat-label class="form-field-label">Contact Number</mat-label>
                  <mat-form-field
                    class="form-field-input"
                    floatPlaceholder="never"
                    appearance="fill"
                  >
                    <input
                      matInput
                      [placeholder]=""
                      #inputValue
                     [(ngModel)]="contact.phonenumber"
                    />
                  </mat-form-field>
                 
                </div>
          
          
                <div class="form-field-hold two-column-field">
                  <mat-label class="form-field-label">E-mail id</mat-label>
                  <mat-form-field
                    class="form-field-input"
                    floatPlaceholder="never"
                    appearance="fill"
                  >
                    <input
                      matInput
                      [placeholder]=""
                      #inputValue
                     [(ngModel)]="contact.email"
                    />
                  </mat-form-field>
                 
                </div>
        
          </div>
          
              </div>
        </div>
        
           
        
      
     
<!-- <app-employee-addemployee></app-employee-addemployee> -->


      </div>
       

    </div>
  </div>