<div>
  <div class="headings">
    <app-title
      title="Overview"
      subTitle="Company's overall Information"
    ></app-title>
    <span class="spacer"></span>
  </div>
  <div class="contents">
    <div class="content-hold">
      <mat-toolbar class="tool-bar">
        <span class="tool-bar-title">OVERVIEW</span>
        <span class="spacer"></span>

        <button
          ejs-button
          cssClass="tool-bar-button e-flat button-color"
          iconCss="e-btn-sb-icons e-open-icon"
          iconPosition="Right"
          (click)="doAction('edit')"
          matTooltip="Edit"
          *ngIf="hasEdit && currentAction == 'view'"
        >
          <span class="e-icons e-edit"></span>

          Edit
        </button>

        <button
          mat-button
          class="tool-bar-button"
          matTooltip="Cancel"
          (click)="doAction('cancel')"
          *ngIf="currentAction == 'new' || currentAction == 'edit'"
        >
          <span class="button-label">Cancel</span>
        </button>
        <button
          mat-raised-button
          color="primary"
          class="tool-bar-button"
          matTooltip="Save Changes"
          (click)="doAction('save')"
          (click)="onUpdate()"
          *ngIf="currentAction == 'new' || currentAction == 'edit'"
        >
          <mat-icon>save</mat-icon>
          <span class="button-label">Save</span>
        </button>
      </mat-toolbar>

      <!-- Content-view -->

      <div
        class="company-overview-contents content-data-hold"
        *ngIf="currentAction == 'view'"
      >
        <ng-container *ngFor="let get of getall">
          <div class="view-entry-hold two-column-field">
            <mat-label class="entry-label">Registered Company Name</mat-label>
            <span class="entry-data">{{ get.legalname }}</span>
          </div>
          <div class="view-entry-hold two-column-field">
            <mat-label class="entry-label">Short Name</mat-label>
            <span class="entry-data">{{ get.code }}</span>
          </div>
          <div class="view-entry-hold two-column-field">
            <mat-label class="entry-label">Country</mat-label>
            <span class="entry-data" *ngFor="let country of countries">{{
              get.fkcountrycode == country.id ? country.value : ""
            }}</span>
          </div>
          <div class="view-entry-hold two-column-field">
            <mat-label class="entry-label">Phone</mat-label>
            <span class="entry-data">
              <span>+91</span>
              {{ get.phone }}</span
            >
          </div>
          <div class="view-entry-hold two-column-field">
            <mat-label class="entry-label">Fax</mat-label>
            <span class="entry-data">
              <span>+91</span>
              {{ get.fax }}</span
            >
          </div>
          <div class="view-entry-hold two-column-field">
            <mat-label class="entry-label">Email</mat-label>
            <span class="entry-data">{{ get.email }}</span>
          </div>
          <div class="view-entry-hold two-column-field">
            <mat-label class="entry-label">Website</mat-label>
            <span class="entry-data">{{ get.website }}</span>
          </div>
          <div class="view-entry-hold two-column-field">
            <mat-label class="entry-label">WhatsApp Support</mat-label>
            <span class="entry-data">
              <span>+91</span>
              {{ get.whatsapp }}</span
            >
          </div>
          <div class="view-entry-hold">
            <mat-label class="entry-label">LinkedIN</mat-label>
            <span class="entry-data">{{ get.linkedin }}</span>
          </div>
          <div class="view-entry-hold">
            <mat-label class="entry-label">Remarks</mat-label>
            <span class="entry-data">{{ get.comments }}</span>
          </div>
        </ng-container>
      </div>

      <div
        class="company-overview-contents content-data-hold"
        *ngIf="currentAction == 'edit'"
      >
        <ng-container *ngFor="let get of getall">
          <div class="form-field-hold two-column-field">
            <!-- <div class="control-label">Registered Company Name</div>
              <input  class="e-input" type="text" placeholder="Registered Company Name" 
              [(ngModel)]="get.legalname" (input)="onInputChange(get)" />
              <p class="error-message" style="color: red" *ngIf="error">{{ error }}</p> -->
            <app-kit-text-component
              [label]="'Registered Company Name'"
              [fielddata]="get.legalname"
              [minLength]="3"
              [required]="true"
              [maxLength]="15"
              [placeholder]="'Registered Company Name'"
              (sendData)="handleInput('legalname', $event)"
            ></app-kit-text-component>
          </div>

          <div class="form-field-hold two-column-field">
            <!-- <kit-ui-text-edit
            companyname="  Short Name"
            placeHolder="DTPL"
            [formData]="get"
            [inputName]="'code'"
            (inputValueEmitter)="handleInput('code', $event)"
          ></kit-ui-text-edit> -->

            <!-- <div class="control-label">Short Name</div>
              <input  class="e-input" type="text" placeholder="Short Name" 
               [(ngModel)]="get.code" (input)="onInputChange(get)" />
               <p class="error-message" style="color: red" *ngIf="error">{{ error }}</p>
        </div> -->
            <app-kit-text-component
              [label]="'Short Name'"
              [fielddata]="get.code"
              [placeholder]="'shortName'"
              [minLength]="3"
              [maxLength]="10"
              (sendData)="handleInput('code', $event)"
            ></app-kit-text-component>
          </div>
          <div class="form-field-hold two-column-field">
            <!-- <app-country
            placeHolder="country"
            [formData]="get"
            (inputValueEmitter)="handleInput('fkcountrycode', $event)"
            [inputName]="'fkcountrycode'"
          ></app-country> -->
            <!-- <div class="control-label" >country</div>
          <ejs-dropdownlist id='country' [dataSource]='countrydata' [fields]='fields' (filtering)='onFiltering($event)' [filterBarPlaceholder]="filterPlaceholder"
          [popupHeight]='height' [allowFiltering]='true' [placeholder]='watermark' [(ngModel)]="get.fkcountrycode" > </ejs-dropdownlist> -->

            <app-kit-country-dropdown
              [label]="'country'"
              [fielddata]="get.fkcountrycode"
              [placeholder]="'country'"
              (sendData)="handleInput('fkcountrycode', $event)"
            ></app-kit-country-dropdown>
          </div>
          <div class="form-field-hold two-column-field">
            <!-- <app-phonenumber placeHolder="Ex: 9876543210"  [formData]="get" numbertype="Phone" [inputName]="'phone'"
           (inputValueEmitter)="handleInput('phone', $event)"  ></app-phonenumber> -->
            <!-- <label class="sync-label">Phone</label> -->
            <!-- <div>
              <div class="control-label">Phone</div>
              <ejs-maskedtextbox mask="000-000-0000" [(ngModel)]="get.phone"></ejs-maskedtextbox>
          </div>
            -->

            <app-kit-input-mask
              [label]="'Phone'"
              [fielddata]="get.phone"
              [placeholder]="'Phone'"
              [mask]="'000-000-0000'"
              (sendData)="handleInput('phone', $event)"
            ></app-kit-input-mask>
          </div>
          <div class="form-field-hold two-column-field">
            <!-- <app-phonenumber placeHolder="Ex: 040-22558877" [formData]="get" numbertype="Fax" [inputName]="'fax'"
           (inputValueEmitter)="handleInput('fax', $event)"   ></app-phonenumber> 
         -->

            <!-- <div>
          <div class="control-label">Fax</div>
          <ejs-maskedtextbox mask="000-000-0000" [(ngModel)]="get.fax"></ejs-maskedtextbox>
      </div> -->

            <app-kit-input-mask
              [label]="'Fax'"
              [fielddata]="get.fax"
              [placeholder]="'Fax'"
              [mask]="'000-000-0000'"
              (sendData)="handleInput('fax', $event)"
            ></app-kit-input-mask>
          </div>
          <div class="form-field-hold two-column-field">
            <!-- <app-email
            placeHolder="sunsunnysinger@gmail.com"
            [formData]="get"
            [inputName]="'email'"
            (inputValueEmitter)="handleInput('email', $event)"
          ></app-email> -->
            <!-- <div class="control-label">email</div> -->
            <app-kit-text-component
              [label]="'email'"
              [fielddata]="get.email"
              [placeholder]="'email'"
              [customPattern]="
                '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'
              "
              (sendData)="handleInput('email', $event)"
            ></app-kit-text-component>
            <!-- <input  class="e-input" type="text" plac <app-email
            placeHolder="sunsunnysinger@gmail.com"
            [formData]="get"
            [inputName]="'email'"
            (inputValueEmitter)="handleInput('email', $event)"
          ></app-email>
          <div class="control-label">email</div>
          <input  class="e-input" type="text" placeholder="email" [(ngModel)]="get.email" (input)="onInputChange(get.email)" />eholder="email" [(ngModel)]="get.email" (input)="onInputChange(get.email)" /> -->
          </div>
          <div class="form-field-hold two-column-field">
            <!-- <kit-ui-text-edit
            companyname="Website"
            [formData]="get"
            placeHolder="Ex: www.company.com"
            (inputValueEmitter)="handleInput('website', $event)"
            [inputName]="'website'"
          ></kit-ui-text-edit> -->

            <!-- <div class="control-label">Website</div>
              <input  class="e-input" type="text" placeholder="website" [(ngModel)]="get.website" (input)="onInputChange(get.website)"/> -->
            <app-kit-text-component
              [label]="'Website'"
              [fielddata]="get.website"
              [minLength]="3"
              [maxLength]="30"
              [placeholder]="'Website'"
              (sendData)="handleInput('website', $event)"
            ></app-kit-text-component>
          </div>
          <div class="form-field-hold two-column-field">
            <!-- <app-phonenumber
            placeHolder="Ex: 9876543210"
            numbertype="whatsapp"
            [formData]="get"
            [inputName]="'whatsapp'"
            (inputValueEmitter)="handleInput('whatsapp', $event)"
          ></app-phonenumber> -->

            <!-- <div>
              <div class="control-label">whatsapp</div>
              <ejs-maskedtextbox mask="000-000-0000" [(ngModel)]="get.whatsapp" ></ejs-maskedtextbox>
          </div> -->
            <app-kit-input-mask
              [label]="'whatsapp'"
              [fielddata]="get.whatsapp"
              [placeholder]="'whatsapp'"
              [mask]="'000-000-0000'"
              (sendData)="handleInput('whatsapp', $event)"
            ></app-kit-input-mask>
          </div>
          <div class="form-field-hold">
            <!-- <kit-ui-text-edit
            companyname="LinkedIN"
            [formData]="get"
            placeHolder="Ex: www.linkedin.com/company/dtpli"
            (inputValueEmitter)="handleInput('linkedin', $event)"
            [inputName]="'linkedin'"
          ></kit-ui-text-edit> -->

            <!-- <div class="control-label">LinkedIN</div>
              <input  class="e-input" type="text" placeholder="LinkedIn" [(ngModel)]="get.linkedin" (input)="onInputChange(get.linkedin)"  /> -->
            <app-kit-text-component
              [label]="'LinkedIn'"
              [fielddata]="get.linkedin"
              [placeholder]="'linkedin'"
              [minLength]="3"
              [maxLength]="30"
              (sendData)="handleInput('linkedin', $event)"
            ></app-kit-text-component>
          </div>
          <div class="form-field-hold">
            <!-- <app-textarea
            title="Remarks"
            [formData]="get"
            placeHolder="Ex. State-of-art development center."
            (inputValueEmitter)="handleInput('comments', $event)"
            [inputName]="'comments'"
          ></app-textarea> -->

            <!-- <div class="control-label">Remarks</div>
          <input  class="e-input" type="text" placeholder="Remarks"  [(ngModel)]="get.comments" (input)="onInputChange(get.comments)" /> -->
            <app-kit-text-component
              [label]="'Remarks'"
              [fielddata]="get.comments"
              [placeholder]="'Remarks'"
              [minLength]="3"
              [maxLength]="50"
              (sendData)="handleInput('comments', $event)"
            ></app-kit-text-component>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="controls-view">
      <div class="help-info-hold" *ngIf="currentAction == 'view'">
        <mat-icon>info</mat-icon>
        <span class="help-text"
          >Click on '<b>Edit</b>' button, to update the company
          information</span
        >
      </div>

      <div class="help-info-hold" *ngIf="currentAction == 'edit'">
        <mat-icon>info</mat-icon>
        <span class="help-text"
          >Once you finish editing, Click on '<b>Save</b>' button, to save the
          changes.<br />To cancel the edit, click on '<b>Cancel</b>'
          button.</span
        >
      </div>
    </div>
  </div>
</div>
