<div>
  <div class="headings">

    
    <app-title title="Overview" subTitle="Company's overall Information"></app-title>
    <span class="spacer"></span>
  </div>
  <div class="contents">
    <!-- <div class="content-loading-hold">
      <mat-spinner></mat-spinner>
      <span class="mat-display-1 content-loading-text"></span>
    </div> -->
    <div class="content-hold">
      <!-- <tool-bar title="Overview" class="content-title-hold" [currentAction]="_currentAction" (onAction)="doAction($event)"></tool-bar> -->

      <!-- <tool-bar title="Overview" class="content-title-hold" [currentAction]="_currentAction"
        (onAction)="doAction($event)"></tool-bar> -->
       <!-- <tool-bar></tool-bar> -->
      <mat-toolbar class="tool-bar">
        <span class="tool-bar-title">OVERVIEW</span>
        <span class="spacer"></span>
        <button
          mat-button
          class="tool-bar-button "
          matTooltip="Edit"
          (click)="doAction('edit')"
          *ngIf="hasEdit && currentAction == 'view'"
        >
          <mat-icon>edit</mat-icon>
          <span class="button-label">Edit</span>
        </button>
        <button
          mat-button
          class="tool-bar-button "
          matTooltip="Cancel"
          (click)="doAction('cancel')"
          *ngIf="currentAction == 'new' || currentAction == 'edit'"
        >
          <mat-icon>cancel</mat-icon>
          <span class="button-label">Cancel</span>
        </button>
        <button
          mat-raised-button
          color="primary"
          class="tool-bar-button "
          matTooltip="Save Changes"
          (click)="doAction('save')"
          (click)="onSave()"
          
          
          *ngIf="currentAction == 'new' || currentAction == 'edit'"
        >
          <mat-icon>save</mat-icon>
          <span class="button-label ">Save</span>
        </button>
      </mat-toolbar> 

      <!-- Content-view -->

      <div class="company-overview-contents content-data-hold"  *ngIf="currentAction == 'view'">
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Registered Company Name</mat-label>
          <span class="entry-data">DesignTribePrivateLimited</span>
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Short Name</mat-label>
          <span class="entry-data">DTPL</span>
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Country</mat-label>
          <span class="entry-data flag-hold">
            <!-- <mat-icon svgIcon="india"></mat-icon> -->
            India
          </span>
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Phone</mat-label>
          <span class="entry-data">
            <span>+91</span>
            '---'</span
          >
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Fax</mat-label>
          <span class="entry-data">
            <span>+91</span>
            '---'</span
          >
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Email</mat-label>
          <span class="entry-data">'---'</span>
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">Website</mat-label>
          <span class="entry-data">'---'</span>
        </div>
        <div class="view-entry-hold two-column-field">
          <mat-label class="entry-label">WhatsApp Support</mat-label>
          <span class="entry-data">
            <span>+91</span>
            '---'</span
          >
        </div>
        <div class="view-entry-hold">
          <mat-label class="entry-label">LinkedIN</mat-label>
          <span class="entry-data">'---'</span>
        </div>
        <div class="view-entry-hold">
          <mat-label class="entry-label">Remarks</mat-label>
          <span class="entry-data"
            >State-of-art development center located at Hyderabad, DTPL has been
            able to serve its clients effectively and efficiently
            worldwide.</span
          >
        </div>
      </div>

      <div class="company-overview-contents content-data-hold"  *ngIf="currentAction == 'edit'" 
      >
   
      <!-- <div class="error-text-hold">
        <mat-icon>error_outline</mat-icon>
        <span class="error-text"></span>
      </div> -->
      <!-- <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Registered Company Name</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: Organisation India Pvt Ltd" >
        </mat-form-field>
      </div> -->
      <div class="form-field-hold two-column-field">
      <kit-ui-text-edit companyname="Registered Company Name" placeHolder = "Ex: Organisation India Pvt Ltd"  (inputValueEmitter)="addInputValue($event)" [inputName]="'name'" ></kit-ui-text-edit>
      </div>
      <!-- <div class="form-field-hold two-column-field">
      <kit-ui-text-edit companyname="  Short Name" placeHolder = "DTPL"   [inputName]="'shortname'"  (inputValueEmitter)="addInputValue($event)" (dataChanged)="onDataChanged($event)" ></kit-ui-text-edit>
      </div>
      <div class="form-field-hold two-column-field ">
        <app-country placeHolder="country" (inputValueEmitter)="addInputValue($event)" (dataChanged)="onDataChanged($event)"></app-country>
      </div> -->
       <!-- <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Short Name</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: Organisation India Pvt Ltd">
        </mat-form-field>
      </div> -->
      <!-- <div class="form-field-hold two-column-field">
        <mat-label class="form-field-label">Country</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <mat-select placeholder="Ex: Country">
            <mat-select-trigger>
             
            </mat-select-trigger>
            <mat-option>
              <span class="flag-hold">
                <mat-icon></mat-icon>country.name 
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Phone</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <span matPrefix>+91</span>
          <input matInput placeholder="Ex: 9876543210" >
        </mat-form-field> -->
        <!-- <app-phonenumber placeHolder="Ex: 9876543210"  numbertype="Phone" [inputName]="'phone'" (inputValueEmitter)="addInputValue($event)" (dataChanged)="onDataChanged($event)"></app-phonenumber> -->
      </div>
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Fax</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <span matPrefix>+91</span>
          <input matInput placeholder="Ex: 040-22558877">
        </mat-form-field> -->
        <!-- <app-phonenumber placeHolder="Ex: 040-22558877" numbertype="Fax" [inputName]="'fax'" (inputValueEmitter)="addInputValue($event)"  (dataChanged)="onDataChanged($event)"></app-phonenumber> -->
      </div>
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Email</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput type="email" placeholder="Ex: support@company.com" >
        </mat-form-field> -->
        <!-- <app-email placeHolder="sunsunnysinger@gmail.com" [inputName]="'email'"   (inputValueEmitter)="addInputValue($event)" (dataChanged)="onDataChanged($event)" ></app-email> -->
      </div>
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">Website</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: www.company.com" >
        </mat-form-field> -->
        <!-- <kit-ui-text-edit companyname="Website" placeHolder = "Ex: www.company.com"  (inputValueEmitter)="addInputValue($event)" [inputName]="'website'"   (dataChanged)="onDataChanged($event)" ></kit-ui-text-edit> -->
      </div>
      <div class="form-field-hold two-column-field">
        <!-- <mat-label class="form-field-label">WhatsApp</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <span matPrefix>+91</span>
          <input matInput placeholder="Ex: 9876543210" >
        </mat-form-field> -->
        <!-- <app-phonenumber placeHolder="Ex: 9876543210" numbertype="whatsapp" [inputName]="'whatsapp'"  (inputValueEmitter)="addInputValue($event)"  (dataChanged)="onDataChanged($event)"></app-phonenumber> -->
      </div>
      <div class="form-field-hold">
        <!-- <mat-label class="form-field-label">LinkedIN</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: www.linkedin.com/company/dtpli">
        </mat-form-field> -->
        <!-- <kit-ui-text-edit companyname="LinkedIN" placeHolder = "Ex: www.linkedin.com/company/dtpli"  (inputValueEmitter)="addInputValue($event)" [inputName]="'website'"   (dataChanged)="onDataChanged($event)" ></kit-ui-text-edit> -->
      </div>
      <div class="form-field-hold">
        <!-- <mat-label class="form-field-label">Remarks</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1"
            placeholder="Ex. State-of-art development center."></textarea>
        </mat-form-field> -->
        <!-- <app-textarea title="Remarks" placeHolder="Ex. State-of-art development center." (inputValueEmitter)="addInputValue($event)" [inputName]="'comments'"  (dataChanged)="onDataChanged($event)"></app-textarea> -->
      </div>
      </div>
    </div>

      <div class="controls-view" >
        <div class="help-info-hold" *ngIf="currentAction == 'view'">
          <mat-icon>info</mat-icon>
          <span class="help-text">Click on '<b>Edit</b>' button, to update the company information</span>
        </div>
        <!-- <div class="help-info-hold" >
          <mat-icon>info</mat-icon>
          <span class="help-text">Please correct the errors to proceed.</span>
        </div> -->
        <div class="help-info-hold" *ngIf="currentAction == 'edit'">
          <mat-icon>info</mat-icon>
          <span class="help-text">Once you finish editing, Click on '<b>Save</b>' button, to save the changes.<br />To
            cancel the edit, click on '<b>Cancel</b>' button.</span>
          </div>
      
  </div>
</div>
</div>