<h1 mat-dialog-title>Your Form is Submitted</h1>

<div mat-dialog-actions>

  <button mat-button mat-dialog-close cdkFocusInitial (click)="closeTab()">Ok</button>
</div>





        <!-- <ejs-dialog id="modalDialog" #modalDialog (overlayClick)="overlayClick()" [isModal]='isModal' [header]='header'
            [target]='target' [width]='width' [buttons]='buttons' [animationSettings]='animationSettings'
            [content]='content' (open)="modalDlgOpen()" (close)="modalDlgClose()">
        </ejs-dialog>
    -->

    <!-- <button class="e-control e-btn" style="position: absolute;" id="targetButton" (click)="onOpenDialog($event)">Open Modal Dialog</button>
    <div #container class='root-container'></div>
    <ejs-dialog id='dialog' #ejDialog isModal='true' (overlayClick)="onOverlayClick()"
    content='This is a modal dialog' [target]='targetElement' width='250px'> </ejs-dialog>`
 -->
