<div class="departments-item-hold">
   
    <mat-toolbar class="tool-bar">
      <span class="tool-bar-title">{{department.name}}</span>
      <span class="spacer"></span>
     
      <button ejs-button  cssClass="tool-bar-button e-flat button-color" iconCss="e-btn-sb-icons e-open-icon"  iconPosition="Right"
      (click)="doAction('edit')" 
      matTooltip="Edit"
      *ngIf=" _currentAction == 'view'"
      >
      <span class="e-icons e-edit"></span>
      Edit</button>
      <button
      mat-flat-button
      color="primary"
      class="tool-bar-button"
      matTooltip="Delete"
      (click)="doAction('delete');_doDelete()"
      *ngIf="_currentAction == 'view'"
    >
      <mat-icon>delete</mat-icon>
      <span class="button-label">Delete</span>
    </button>
      <button
        mat-button
        class="tool-bar-button"
        matTooltip="Cancel"
        (click)="doAction('view')"
        *ngIf="_currentAction == 'new' || _currentAction == 'edit'"
      >
        <mat-icon>cancel</mat-icon>
        <span class="button-label">Cancel</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        class="tool-bar-button"
        matTooltip="Save Changes"
        (click)="updateDepartment();doAction('view')"
        *ngIf="_currentAction == 'new' || _currentAction == 'edit'"
      >
        <mat-icon>save</mat-icon>
        <span class="button-label">Save</span>
      </button>
    </mat-toolbar>
    <div class="department-contents content-data-hold" *ngIf="_currentAction == 'view' ">
      <div class="view-entry-hold">
        <span class="entry-text highlight-title">{{department.name}}</span>
      </div>
      <div class="view-entry-hold" *ngFor="let type of departmentTypeArray">
        <span class="entry-text">{{department.type == type.id ? type.value : null}}</span>
      </div>
      <div class="view-entry-hold"  *ngIf="department.fkofficeid">
        <span  class="entry-text">{{ 'Office: ' + getOfficeCode(department.fkofficeid) + ' (' + getOfficeType(department.fkofficeid) + ')' }}</span>
      </div>
      <div class="view-entry-hold" *ngIf="department.hodfkempid">
        <span class="entry-text">{{ 'HoD : ' + department.hodfkempid }}</span>
      </div>
    </div>
    <div class="department-edit-contents content-data-hold" 
      *ngIf="_currentAction == 'edit' ">
      
      <div class="form-field-hold">
        <!-- <mat-label class="form-field-label">Department Name</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: Civil-02" [(ngModel)]="department.name">
        </mat-form-field> -->
        
        <!-- <div class="control-label">Department Name</div>
          <input  class="e-input" type="text" placeholder="Ex: Civil-02" [(ngModel)]="department.name"  /> -->

          <app-kit-text-component [label]="'Department Name'"  [placeholder]="'Department Name'"
          (sendData)="handleInput('name',$event)"
          ></app-kit-text-component>
         

      </div>
      <div class="form-field-hold">
        <!-- <mat-label class="form-field-label">Department Type</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <mat-select matInput placeholder="Ex: Civil"  [(ngModel)]="department.type">
            <mat-option *ngFor="let departmentType of departmentTypeArray" [value]="departmentType.value">
              {{departmentType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <!-- <div class="control-label">Department Type</div>
        <ejs-dropdownlist id='games' [dataSource]='departmentArray' [fields]='localFields' [placeholder]='localWaterMark'
        [popupHeight]='localheight'[(ngModel)]="department.type" ></ejs-dropdownlist> -->

        <app-kit-dropdown [label]="'Department Type'"  [placeholder]="'Department Type'" [dropdata]="departmentTypeArray"
        (sendData)="handleInput('type',$event)" ></app-kit-dropdown>
      </div>
      <div class="form-field-hold">
        <!-- <mat-label class="form-field-label">Office</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <mat-select placeholder="Ex: Office"  [(ngModel)]="selectedOffice">
          
            <mat-option *ngFor="let office of officeType" [value]="office">
              <span>
                {{ office.code + ' (' + office.type + ')' }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <!-- <div class="control-label">Office</div>
        <ejs-dropdownlist id='games' [dataSource]='officeArray' [fields]='officeFields' [placeholder]='OfficewaterMark'
        [popupHeight]='officeHeight'[(ngModel)]="selectedOffice" ></ejs-dropdownlist> -->
        <app-kit-dropdown [label]="'Office'"  [placeholder]="'Office'" [dropdata]="officeType"
        (sendData)="handleInput('officeid',$event)" ></app-kit-dropdown>

      </div>
      <!-- <div class="form-field-hold">
        <mat-label class="form-field-label">Head of the Department</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput type="number" placeholder="Ex: 000000" >
        </mat-form-field>
      </div> -->
    </div>
  </div>
  