<div class="departments-item-hold">
    <!-- <div class="content-loading-hold" *ngIf="isProcessing">
      <mat-spinner></mat-spinner>
      <span class="mat-title content-loading-text"
        [innerHtml]="'Please wait, while the procesing <b>Department</b>:<b class=\'primary-color-text\'>' + _departmentTitle + '</b> information.'"></span>
    </div> -->
    <mat-toolbar class="tool-bar">
      <span class="tool-bar-title">Department</span>
      <span class="spacer"></span>
      <button
        mat-button
        class="tool-bar-button"
        matTooltip="Edit"
        (click)="doAction('edit')"
        *ngIf=" _currentAction == 'view'"
      >
        <mat-icon>edit</mat-icon>
        <span class="button-label">Edit</span>
      </button>
      <button
      mat-flat-button
      color="primary"
      class="tool-bar-button"
      matTooltip="Delete"
      (click)="doAction('delete');_doDelete()"
      *ngIf="_currentAction == 'view'"
    >
      <mat-icon>delete</mat-icon>
      <span class="button-label">Delete</span>
    </button>
      <button
        mat-button
        class="tool-bar-button"
        matTooltip="Cancel"
        (click)="doAction('view')"
        *ngIf="_currentAction == 'new' || _currentAction == 'edit'"
      >
        <mat-icon>cancel</mat-icon>
        <span class="button-label">Cancel</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        class="tool-bar-button"
        matTooltip="Save Changes"
        (click)="updateDepartment();doAction('view')"
        *ngIf="_currentAction == 'new' || _currentAction == 'edit'"
      >
        <mat-icon>save</mat-icon>
        <span class="button-label">Save</span>
      </button>
    </mat-toolbar>
    <div class="department-contents content-data-hold" *ngIf="_currentAction == 'view' ">
      <div class="view-entry-hold">
        <span class="entry-text highlight-title">{{department.name}}</span>
      </div>
      <div class="view-entry-hold">
        <span class="entry-text">{{department.type}},</span>
      </div>
      <div class="view-entry-hold"  *ngIf="department.fkofficeid">
        <span  class="entry-text">{{ 'Office: ' + getOfficeCode(department.fkofficeid) + ' (' + getOfficeType(department.fkofficeid) + ')' }}</span>
      </div>
      <div class="view-entry-hold" *ngIf="department.hodfkempid">
        <span class="entry-text">{{ 'HoD : ' + department.hodfkempid }}</span>
      </div>
    </div>
    <div class="department-edit-contents content-data-hold" 
      *ngIf="_currentAction == 'edit' ">
      
      <div class="form-field-hold">
        <mat-label class="form-field-label">Department Name</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput placeholder="Ex: Civil-02" [(ngModel)]="department.name">
        </mat-form-field>
      </div>
      <div class="form-field-hold">
        <mat-label class="form-field-label">Department Type</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <mat-select matInput placeholder="Ex: Civil"  [(ngModel)]="department.type">
            <mat-option *ngFor="let departmentType of departmentTypeArray" [value]="departmentType.value">
              {{departmentType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field-hold">
        <mat-label class="form-field-label">Office</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <mat-select placeholder="Ex: Office"  [(ngModel)]="selectedOffice">
            <!-- <mat-select-trigger>
              <span  *ngFor="let office of officeType">
                {{ office.code + ' (' + office.type + ')' }}
              </span>
            </mat-select-trigger> -->
            <mat-option *ngFor="let office of officeType" [value]="office">
              <span>
                {{ office.code + ' (' + office.type + ')' }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div class="form-field-hold">
        <mat-label class="form-field-label">Head of the Department</mat-label>
        <mat-form-field class="form-field-input" floatPlaceholder="never" appearance="fill">
          <input matInput type="number" placeholder="Ex: 000000" >
        </mat-form-field>
      </div> -->
    </div>
  </div>
  